
/* --------------------------------------------
 * --variables
 * -------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

$font-stack: 'Roboto', sans-serif;

@mixin uppercase(){
  text-transform: uppercase;
  letter-spacing: .1em;
}


/* --------------------------------------------
 * --colors
 * -------------------------------------------- */

$accent: #268472;
$accent-hover: darken($accent, 10%);

$light-gray: #ddd;

$red: #c00;


/* --------------------------------------------
 * --mixins
 * -------------------------------------------- */


/**
 * --transforms
 */
@mixin transform($transforms) {
    -webkit-transform: $transforms;
       -moz-transform: $transforms;
        -ms-transform: $transforms;
         -o-transform: $transforms;
            transform: $transforms;
}


/**
 * --transitions
 */
@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}


/**
 * --flexbox
 */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
          -ms-flex: $values;
              flex: $values;
}



/* --------------------------------------------
 * --media queries
 * -------------------------------------------- */

$breakpoint-large: 840px;

// Media Query (Min-Width)
@mixin break-min( $breakpoint: $breakpoint-large ) {
    @media (min-width: $breakpoint ) { @content; }
}
// Media Query (Man-Width)
@mixin break-max( $breakpoint: $breakpoint-large - 1 ) {
    @media (max-width: $breakpoint ) { @content; }
}