/* --------------------------------------------
 * --variables
 * -------------------------------------------- */
/* --------------------------------------------
 * --mixins
 * -------------------------------------------- */
/**
 * --flexbox
 */
/* --------------------------------------------
 * --global
 * -------------------------------------------- */
*, *:after, *:before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-family: sans-serif; }

body {
  margin: 0;
  padding: 0; }

/* --------------------------------------------
 * --layout
 * -------------------------------------------- */
html, body, .tk-app {
  height: 100%; }

.tk-app {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%; }
  .tk-app .tk-sidebar {
    -webkit-box-flex: 0 0 300px;
    -moz-box-flex: 0 0 300px;
    -webkit-flex: 0 0 300px;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    padding: 20px; }
  .tk-app .tk-content {
    -webkit-box-flex: 1 0 auto;
    -moz-box-flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding: 20px;
    background: #eee; }
