
/* ================================================
   --general
   ================================================ */

body{
	font-family: 'Lato', sans-serif;
}



/* ======================
   --typography 
   ====================== */

h3{
	margin: 0 0 1em 0;
	line-height: 1.6em;
}

.link{
	text-decoration: none;
	color:#4DBD33;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	padding: 4px;
}
.link:hover{
	background-color: #4DBD33;
	color: #fff;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

/* ======================
   --forms 
   ====================== */

.form-header{
	margin: 0 0 10px;
}

input{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type=text]{
	padding: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #efefef;
	font-size: 14px;
	margin: 0;
	height: 36px;
}
input[type=submit]{
	background-color: #aaa;
	border: 0;
	height: 36px;
	margin: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	color:#fff;
	cursor: pointer;

	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
input[type=submit]:hover{
	background-color: #919191;

	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

/* ======================
   --layout 
   ====================== */

.container{
	max-width:800px;
	width: 96%;
	margin:0 auto;
}

.success-text,
.success-payed-text{
	opacity: 0;
}


/* ================================================
   --project list
   ================================================ */

.project-list{
	margin-bottom: 10px;
}
.project-list > div{
	padding: 14px;
}
.project-list div:nth-of-type(even){background-color: #ededed;}

.project-list div a{
	color:#999;
	float: left;
	position: relative;
	text-decoration: none;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
.project-list a:hover{
	color:#000;
	left: 3px;
	
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.project-list a span.invoice{
	background: #c00;
	color: #fff;
	font-weight: normal;
	padding: 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: 10px;
}
.project-list div .owed{
	color: #333;
	font-weight: bold;
	padding-right: 10px;
	border-color: #4DBD33;
	border-style: solid;
	border-width: 0;
}

.util{
	float: right;
	font-size: 12px;
}
.util span{
	cursor: pointer;
	color: #ccc;
	margin-right: 10px;
}
.util span:hover{
	color: #999;
}

.util .rate-amt{
	font-size: 14px;
	color: #999;
}

.overlay{
	background: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.overlay-container{
	width: 80%;
	max-width: 360px;
	margin: 0 auto;
	position: relative;
	top: 100px;
	background: #fff;
	padding: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.overlay input[type=text]{
	display: block;
	width: 100%;
}
.overlay input[type=submit]{
	background: #4DBD33;
	margin-top: -1px;
	min-width: 46px;
}
.overlay input[type=submit]:hover{
	background: #34A41A;
}
.overlay .cancel{
	display: inline-block;
	background-color: #aaa;
	border: 0;
	height: 36px;
	margin: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	color:#fff;
	cursor: pointer;
	margin:5px 0 0 10px;
	position: relative;
	top: 1px;
	padding: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
.overlay .cancel:hover{
	background-color: #919191;

	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

#delete-project input[type=submit]{
	background: #c00;
}

/* ======================
   --individual project 
   ====================== */

.totals{
	margin-bottom: 20px;
	top: 0;
}

.totals .row > div{
	float: left;
	margin-top: 1px;
	margin-bottom: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: bold;
	padding: 5px;
}
.totals .title{
	width: 69%;
	margin-right: 1%;
	text-align: right;
}
.totals .value{
	width: 25%;
}
.total-hours{background-color: #FFECCA;}
.rate{background-color: #FFECCA;}
.total-due{background-color: #4DBD33;}


/* the table
---------------------------------- */
.description-list{
	width: 100%;
	font-weight: 400;
	margin-top: 20px;
}

.description-list .row{
	position: relative;
}
.descriptions .row:nth-child(even){
	background-color: #ededed;
}

.description-list .row > div{
	float: left;
	padding: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.title-row{
	background-color: #aaa;
	font-weight: 700;
	color: #fff;
}


.descriptions .description,
.descriptions .num-hours{
	cursor: pointer;
}
.descriptions .hold-row .description{
	font-weight: bold;
}
.descriptions .hold-row .description:after{
	content:"hold";
	background: #aaa;
	color: #fff;
	padding: 4px;
	font-size: 12px;
	margin-left: 10px;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.hours .description{
	width: 68%;
}
.fixed-price .description{
	width: 83%;
}
.num-hours,
.subtotal{
	width: 15%;
}
.paid-indicator{
	width: 2%;
	height: 100%;
}

.hidden-util{
	position: absolute;
	top: 0;
	left: -50px;
	opacity: 0;
	z-index: -1;

	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.show-hidden-util .hidden-util{
	left: -126px;
	opacity: 1;
	z-index: 12;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}

.hidden-util span{
	color: #999;
	font-size: 0.8em;
	cursor: pointer;
	margin-right: 10px;
}

.hidden-util span:last-child{
	margin-right: 0;
}

.dulled{opacity: 0.2;}
.not-paid{background-color: #4DBD33;}


/* form
---------------------------------- */

.addhours-form{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

input[name=description]{
	-webkit-box-flex: 4;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 4;         /* OLD - Firefox 19- */
	width: 20%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: 4;          /* Chrome */
	-ms-flex: 4;              /* IE 10 */
	flex: 4;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	margin-right: 5px;
}
input[name=hours]{
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	width: 20%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	margin-right: 5px;
}
input[name=price]{
	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	width: 20%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
	margin-right: 5px;
}

.addhours-form input[type="submit"]{
	width: 66px;
}

.get-paid{
	display: inline-block;
	color:#fff;
	padding: 10px;
	border-radius: 5px;
	background-color:#4DBD33;
	font-weight: 700;
	cursor: pointer;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	margin: 20px 0;
}
.get-paid:hover{
	background-color: #34A41A;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}


.outbound-invoice{
	color:#fff;
	padding: 10px;
	border-radius: 5px;
	background-color:#c00;
	font-weight: 700;
	display: inline-block;
	cursor: pointer;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
	margin: 20px 0;
}
.outbound-invoice:hover{
	background-color: #900;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
.waiting-on-invoice{
	color:#fff;
	padding: 10px;
	border-radius: 5px;
	background-color:#c00;
	font-weight: 700;
	margin: 20px 0 20px 40px;
	font-size: 16px;
}

.hide{
	display: none;
}

/* ================================================
   --utility
   ================================================ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
*:first-child+html .clearfix { zoom: 1; } /* IE7 */