
/* -----------------------------------
 * --general
 * ----------------------------------- */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    color: #404040;
}


/* -----------------------------------
 * --typography
 * ----------------------------------- */
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    color: #fff;
}
h2{
    font-weight: 300;
    margin: 0 10px 0 0;
    display: inline-block;
    vertical-align: middle;
}
h3{
    font-weight: 300;
    font-size: 2em;
}
h4{
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.25em;
    margin: 0;
}

button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #00A0BE;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.1em;
    border: 0;
    padding: 4px 10px;
    margin: 0;
    cursor: pointer;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
button:focus{
    outline:none;
}

/* -----------------------------------
 * --forms
 * ----------------------------------- */
.form-item{
    display: inline-block;
}
label,
.label{
    display: block;
    font-weight: 900;
    font-size: .7em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 4px;
}
input[type="text"]{
    margin: 0;
    background: #ddd;
    border: 0;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

/* -----------------------------------
 * --layout
 * ----------------------------------- */

.taskkeeper-container{
    max-width:800px;
    width: 100%;
    margin:0 auto;
}

.taskkeeper-padding{
    padding: 20px;
}

/* -----------------------------------
 * --header
 * ----------------------------------- */
.app-header{
    text-align: center;
    background: #727272;
    padding: 10px 0;
}

/* -----------------------------------
 * --client-list
 * ----------------------------------- */
.client-list .row{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.client-list .row:nth-child(even){
    background: #efefef;
}
.client-list .row > div{
    padding: 8px;
}
.client-list .row .name{
    flex: 3;
}
.client-list .row .rate{
    flex: 1;
}
.client-list .row .name a{
    color: #404040;
    text-decoration: none;
}

/* -----------------------------------
 * --client view
 * ----------------------------------- */
#client{
    margin-top: 40px;
    border-top: 1px solid #efefef;
}
#client .rate{
    float: right;
    text-align: center;
}
#client .rate .dollars{
    font-size: 2em;
    font-weight: 300;
    display: block;
}

.edit-client-container{
    margin-bottom: 20px;    
}
.edit-client{
    display: inline-block;
    vertical-align: bottom;
}

.line-items > div{
    margin-top: 40px;
}
.line-items .row{
    padding: 6px;
    margin-left: -6px;
    margin-right: -6px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.line-items .row.highlight-hover:hover{
    background: #f6f6f6;
}

.line-items .description{
    flex: 6 0px;
}
.line-items .hours,
.line-items .subtotal{
    flex:1 0px;
}
.line-items .cost{
    flex: 2 0px;
}

/* -----------------------------------
 * --utility
 * ----------------------------------- */

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
*:first-child+html .clearfix { zoom: 1; } /* IE7 */