@import '../../styles/abstracts';

.task {
  display: flex;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;

  input {
    width: 100%;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  + .task .task__wrapper:before {
    content: '';
    position: absolute;
    left: 0;
    top: -0.5em;
    top: calc(-0.5em - 1px);
    width: 100%;
    border-top: 1px solid $c--gray-e;
  }
}

.task__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;

  > * + * {
    margin-left: spacing();
  }

  .isFocused & > * {
    pointer-events: none;
  }
}

// Inputs
// -----------

.task__hours:hover input:not(:focus),
.task__description:hover:not(:focus) {
  border-style: dashed;
  border-color: $c--gray-c;
}

.task__description {
  @include input;
  border-color: transparent;
  flex: 1;
  margin-left: -$input-padding;
}

.task__hours {
  width: 120px;
}

.task__price {
  text-align: right;
  width: 100px;
  position: relative;
}

// Util
// -----------

.task__util {
  flex: 0 1 auto;
  margin-left: spacing(2);
  position: relative;
  min-width: 80px;
}

.task__actions {
  @include transition(opacity);
  opacity: 0;
  flex: 0 1 auto;

  .task:not(.editing):hover &,
  .isFocused & {
    opacity: 1;
  }

  .task.editing & {
    visibility: hidden;
  }

  > * {
    display: inline-block;
    vertical-align: middle;

    + * {
      margin-left: spacing();
    }
  }
}

// Status
// -----------

.task__status {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.savingStatus {
  @include transition(opacity);
  opacity: 1;
  font-size: $fs--sm;
  font-weight: $fw--semibold;
  color: $c--green;

  .task__statusSaved & {
    opacity: 0;
  }
}

.savedSuccess {
  @include transition(opacity);
  width: 28px;
  height: 2px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -14px;
  opacity: 0;

  svg {
    @include transition(stroke-dashoffset, $duration: 0.2s, $delay: $t-duration);
    width: 100%;
    display: block;
    stroke: $c--green;
    stroke-dasharray: 24;
    stroke-dashoffset: 24;

    .task__statusSaved & {
      stroke-dashoffset: 0;
    }
  }

  .task__statusSaved & {
    opacity: 1;
  }
}
