@import '../../styles/abstracts';

$select-button-size: 48px;

.task {
  padding-top: spacing(2);
  padding-bottom: spacing();
  position: relative;

  @include mq($bp--tablet) {
    display: flex;
    align-items: center;
    padding-top: spacing(0.5);
    padding-bottom: spacing(0.5);
  }

  @include mq($bp--tablet, max) {
    min-height: 148px;
  }

  input {
    width: 100%;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  + .task .task__wrapper:before {
    content: '';
    position: absolute;
    left: 0;
    top: spacing(-2);
    width: 100%;
    border-top: 2px solid rgba($c--blue-xdark, 0.3);

    @include mq($bp--tablet) {
      border-width: 1px;
      border-color: $c--gray-e;
      top: -0.5em;
      top: calc(-0.5em - 1px);
    }
  }
}

.task__wrapper {
  @include transition(transform);
  display: flex;
  align-items: center;
  position: relative;

  @include mq($bp--tablet) {
    flex: 1;
  }

  @include mq($bp--tablet, max) {
    flex-wrap: wrap;
    padding-right: 60px;
  }

  > * + * {
    margin-left: spacing();
  }

  .isInvoicing &,
  .isFocused & {
    pointer-events: none;
  }

  .isInvoicing & {
    transform: translateX($select-button-size);
  }
}

// Inputs
// -----------

.task__hours:hover input:not(:focus),
.task__description:hover:not(:focus) {
  border-style: dashed;
  border-color: $c--gray-c;
}

@include mq($bp--tablet, max) {
  .task__hours input:not(:focus),
  .task__description:not(:focus) {
    border-style: dashed;
    border-color: $c--gray-c;
  }
}

.task__description {
  @include input;
  border-color: transparent;
  flex: 1;
  margin-left: -$input-padding;

  @include mq($bp--tablet, max) {
    width: 100%;
    flex-basis: 100%;
    margin-bottom: spacing();
    margin-left: 0;
  }
}

.task__hours {
  width: 120px;

  @include mq($bp--tablet, max) {
    margin-left: 0;
  }
}

.task__price {
  text-align: right;
  width: 100px;
  position: relative;

  @include mq($bp--tablet, max) {
    flex: 1;
  }
}

// Util
// -----------

.task__util {
  @include mq($bp--tablet) {
    position: relative;
    flex: 0 1 auto;
    margin-left: spacing(2);
    min-width: 80px;
  }

  @include mq($bp--tablet, max) {
    position: absolute;
    right: 0;
    top: spacing(2);
  }
}

.task__actions {
  @include transition;

  @include mq($bp--tablet) {
    opacity: 0;
    visibility: hidden;
    flex: 0 1 auto;

    .task:not(.editing):not(.isInvoicing):hover &,
    .isFocused & {
      opacity: 1;
      visibility: visible;
    }

    .task.editing & {
      visibility: hidden;
    }

    > * {
      display: inline-block;
      vertical-align: middle;

      + * {
        margin-left: spacing();
      }
    }
  }

  @include mq($bp--tablet, max) {
    .task.editing &,
    .task.isInvoicing & {
      opacity: 0;
      visibility: hidden;
    }

    > * + * {
      margin-top: spacing();
    }
  }
}

// Status
// -----------

.task__status {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.savingStatus {
  @include transition(opacity);
  opacity: 1;
  font-size: $fs--sm;
  font-weight: $fw--semibold;
  color: $c--green;

  .task__statusSaved & {
    opacity: 0;
  }
}

.savedSuccess {
  @include transition(opacity);
  width: 28px;
  height: 2px;
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -14px;
  opacity: 0;

  svg {
    @include transition(stroke-dashoffset, $duration: 0.2s, $delay: $t-duration);
    width: 100%;
    display: block;
    stroke: $c--green;
    stroke-dasharray: 24;
    stroke-dashoffset: 24;

    .task__statusSaved & {
      stroke-dashoffset: 0;
    }
  }

  .task__statusSaved & {
    opacity: 1;
  }
}

// Select
// -----------

.select {
  position: absolute;
  width: $select-button-size;
  height: $select-button-size;
  top: 50%;
  left: -8px;
  margin-top: #{$select-button-size / -2};
  padding: 8px;

  &:focus {
    outline: none;
  }

  span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid $c--gray-c;
    padding: 6px;
    display: flex;
    align-items: center;
  }

  svg {
    width: 100%;
    display: block;
    stroke: $c--gray-c;
  }

  &.selectSelected {
    span {
      border-color: $c--green;
      background-color: $c--green;
    }

    svg {
      stroke: $c--white;
    }
  }
}
