@import '../../../styles/abstracts';

.section {
  margin-top: spacing(6);
  max-width: #{$container-max / 2};
  max-width: calc(#{$container-max / 2} - #{spacing(2)});
}

.invoiceList {
  margin-top: spacing();
}

.invoice + .invoice {
  border-top: 1px solid $c--gray-c;
}
