@import '../../../styles/abstracts';

.addProject {
  margin-bottom: $spacing;
}

.projectForm {
  width: 100%;
  max-width: 660px;
  margin-bottom: $spacing;
}

.formInputs {
  margin-bottom: $spacing / 2;
}

.colorpickerWrap {
  display: flex;
  align-items: center;
}
.colorpickerLabel {
  @include uppercase;
  color: $c-gray-9;
  font-style: $fs-sm;
  margin-right: $spacing;
}

.actions {
  display: flex;

  button + button {
    margin-left: $spacing;
  }
}
