@import '../../../styles/abstracts';

.projectForm {
  width: 100%;
  max-width: 660px;
  margin-bottom: $spacing;
}

.formInputs {
  margin-bottom: $spacing / 2;
}

.projectKey {
  width: 4rem;
  margin-left: $spacing / 2;
}

.actions {
  display: flex;

  button + button {
    margin-left: $spacing;
  }
}
