// --------------------------------------------------------------
// TRANSITIONS
// --------------------------------------------------------------

@mixin hover-transition($prop, $timing: 0.2s) {
    transition: $prop $timing;
}

@mixin transition($prop, $timing: 0.4s) {
    transition: $prop $timing;
}

// --------------------------------------------------------------
// TYPE
// --------------------------------------------------------------

@mixin display-text {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

@mixin uppercase {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 0.8em;
}
