body,
button,
input[type='text'],
input[type='number'] {
    color: $c-black;
    font-size: $font-size;
    line-height: $line-height;
    font-family: $font-primary;
}

// --------------------------------------------------------------
// BUTTONS and CTAs
// --------------------------------------------------------------

button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
}

.btn {
    background-color: $c-accent;
    color: $c-white;
    border: 0;
    padding: 10px 20px;
    border-radius: 3px;

    &:hover {
        background-color: $c-accent-hover;
    }
}

.cta-secondary {
    @include transition(all, 0.2s);
    color: inherit;
    display: inline-block;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 currentColor;
    line-height: 1.4;

    &:hover {
        opacity: 0.6;
        box-shadow: inset 0 -2px 0 currentColor;
    }
}

// --------------------------------------------------------------
// HEADERS
// --------------------------------------------------------------

h1 {
    font-size: 2rem;
}

// --------------------------------------------------------------
// SPACING
// --------------------------------------------------------------

.space-top {
    margin-top: $space-md;
}
