// --------------------------------------------------------------
// COLORS
// --------------------------------------------------------------

$c-black: #000000;
$c-white: #ffffff;
$c-gray-9: #999999;
$c-gray-8: #888888;
$c-gray-7: #777777;
$c-gray-6: #666666;
$c-gray-5: #555555;
$c-gray-4: #444444;
$c-gray-3: #333333;
$c-accent: #f7720c;
$c-accent-hover: darken($c-accent, 6%);

// --------------------------------------------------------------
// TYPE
// --------------------------------------------------------------

$font-size: 16px;
$line-height: 1.6;

$font-primary: 'Nunito Sans', sans-serif;

// --------------------------------------------------------------
// LAYOUT
// --------------------------------------------------------------

$sidebar-width: 20%;

// --------------------------------------------------------------
// SPACING
// --------------------------------------------------------------

$space-md: 1rem;
$space-lg: 4rem;
