// --------------------------------------------------------------
// COLORS
// --------------------------------------------------------------

$c-black: #000000;
$c-white: #ffffff;
$c-gray: #3f3b3b;


// --------------------------------------------------------------
// TYPE
// --------------------------------------------------------------

$font-size: 16px;
$line-height: 1.6;

$font-primary: 'Nunito Sans', sans-serif;