@import '../../../styles/mixins/_index';
@import '../../../styles/vars/_index';

.split {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include large-screens {
    flex-direction: row-reverse;
  }

  > div:first-child {
    background-color: rgba($c-gray-3, 0.04);
    padding: 2rem;
    align-self: stretch;
    flex: 1;
  }

  > div:nth-child(2) {
    padding: 2rem;
    order: -1;

    @include large-screens {
      width: 50%;
    }
  }
}
