@import '../../../styles/abstracts';

.addNew {
  @include transition();
  @include uppercase();
  display: flex;
  align-items: center;
  margin-left: auto;
  color: $c-gray-6;

  > span {
    margin-left: $spacing / 2;
  }

  &:hover {
    color: $c-gray-3;
    transform: translateY(-1px);
  }
}
