/* ------------------------------------
 * --icon mixins
 * ------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,900");
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
button,
input[type="text"],
input[type="number"] {
  color: #404040;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Nunito Sans", sans-serif; }

/* ------------------------------------
 * --headers
 * ------------------------------------*/
.t-blocktitle {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-weight: 900; }

/* ------------------------------------
 * --el
 * ------------------------------------*/
button {
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  cursor: pointer; }
  button:focus {
    outline: none; }

/* ------------------------------------
 * --misc
 * ------------------------------------*/
.cents {
  display: inline-block;
  vertical-align: super;
  font-size: 0.6em;
  margin-left: 2px;
  line-height: 1.2; }

input[type="text"],
input[type="number"] {
  display: block;
  width: 100%;
  padding: 4px; }
  input[type="text"]:focus,
  input[type="number"]:focus {
    outline: 1px solid #292929; }

html, body, #root, .app-main {
  height: 100%; }

.app-main {
  display: flex;
  overflow: hidden; }

.leftpane {
  flex: 0 0 200px;
  background-color: #292929;
  color: #fff;
  height: 100%;
  overflow: auto; }

.l-container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

.toggle__label {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  font-weight: 900;
  opacity: 0.2;
  transition: opacity .2s; }

.toggle__label--active {
  opacity: 1; }

.toggle__check {
  display: none; }

.toggle__switch {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background-color: #292929;
  border-radius: 2em;
  width: 2em;
  padding: .25em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer; }
  .toggle__switch:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: .75em;
    transition: all .2s;
    background-color: #fff;
    border-radius: 100%; }
  input[type="checkbox"]:checked + .toggle__switch:before {
    transform: translateX(100%); }

.masthead {
  padding: 20px; }

.clientThumb {
  border-top: 1px solid #404040; }

.clientLink {
  padding: 20px;
  text-decoration: none;
  color: inherit;
  display: block; }

.clientLink--active {
  background-color: #404040; }

.clientPane {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
  background-color: #eaeaea; }

.clientHeader {
  padding: 20px 0;
  background-color: #fff; }

.clientname {
  font-size: 2rem; }

.clientrate {
  font-size: 1.5rem;
  color: #00844f; }

.client__opentasks {
  background-color: #fff;
  margin-bottom: 60px;
  padding-top: 20px;
  padding-bottom: 20px; }

.invoices--outstanding {
  margin-bottom: 60px; }

.invoicegroup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px; }

.invoice {
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 2px 6px rgba(41, 41, 41, 0.1);
  border-radius: 2px; }

.invoice__header {
  display: flex;
  justify-content: space-between; }

.invoice__date {
  flex: 0 1 auto; }

.invoice__price {
  flex: 0 1 auto;
  font-size: 2rem;
  color: #00844f; }

.tasklist__trigger {
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  font-weight: 900;
  position: relative;
  padding-right: calc(12px + 6px);
  padding-top: 2px; }
  .tasklist__trigger:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024.11%2024.11%22%3E%3Ctitle%3Eicon-expand%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%201-2%22%20fill%3D%22%23d80b6d%22%3E%3Cpath%20d%3D%22M10.05%200h4.01v24.11h-4.01z%22%2F%3E%3Cpath%20d%3D%22M0%2010.05h24.11v4.01H0z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
  .tasklist__trigger:after {
    transition: all .4s; }

.tasklist__trigger--close:after {
  transform: rotate(45deg); }

.invoice__tasks {
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s;
  position: absolute;
  left: -9999px;
  margin-top: 10px; }

.invoice__tasks--expanded {
  visibility: visible;
  position: static;
  opacity: 1; }

.task {
  display: flex;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #eaeaea; }

.task--key {
  border-top: 0;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  font-weight: 900; }

.task__description {
  flex: 1 1 auto; }

.task__hours {
  text-align: right;
  flex: 0 0 80px;
  padding-left: 20px;
  padding-right: 10px; }

.task__price {
  flex: 0 0 100px;
  text-align: right; }

.taskform {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px; }

.taskform__fieldset {
  display: flex;
  margin-top: 1.5rem; }

.taskform__el {
  position: relative; }

.taskform__el--description {
  flex: 1 0 auto; }

.taskform__el--toggle {
  padding-left: 10px;
  padding-right: 10px;
  align-self: center; }

.taskform__el--qty {
  flex: 0 0 180px; }
  .taskform__el--qty input {
    transition: padding-left .2s; }
  .taskform__el--qty.taskform__el--byprice input {
    padding-left: 20px; }

.taskform__el--actions {
  padding-left: 10px; }

.taskform__dollarsign {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-0.5em);
  line-height: 1;
  opacity: 0;
  transition: opacity .2s;
  font-weight: 900; }
  .taskform__el--byprice .taskform__dollarsign {
    opacity: 1; }

.taskform__label {
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  font-weight: 900;
  position: absolute;
  line-height: 1;
  left: 6px;
  top: 50%;
  height: 1em;
  transform: translateY(-50%);
  pointer-events: none;
  opacity: 0.2;
  transition: all .2s; }
  .taskform__el--byprice .taskform__label {
    left: 26px; }
  .taskform__input--hasinput ~ .taskform__label,
  input[type="text"]:focus ~ .taskform__label,
  input[type="number"]:focus ~ .taskform__label {
    top: -1.5em;
    opacity: 1;
    transform: translateY(0); }

.taskform__labelswap {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transform: translateY(0px);
  transition: all .2s .2s; }

.taskform__labelswap--hidden {
  opacity: 0;
  transform: translateY(-5px);
  transition-delay: 0s; }

.taskform__submit {
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024.11%2024.11%22%3E%3Ctitle%3Eicon-expand%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%201-2%22%20fill%3D%22%23d80b6d%22%3E%3Cpath%20d%3D%22M10.05%200h4.01v24.11h-4.01z%22%2F%3E%3Cpath%20d%3D%22M0%2010.05h24.11v4.01H0z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  text-indent: -9999px;
  transition: all .2s;
  border-radius: 4px;
  background-color: #ddd; }
  .taskform__submit:hover, .taskform__submit:focus {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024.11%2024.11%22%3E%3Ctitle%3Eicon-expand%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%201-2%22%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M10.05%200h4.01v24.11h-4.01z%22%2F%3E%3Cpath%20d%3D%22M0%2010.05h24.11v4.01H0z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-color: #d80b6d; }

/*# sourceMappingURL=style.css.map */