/* ------------------------------------
 * --icon mixins
 * ------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,900");
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
button,
input[type="text"],
input[type="number"] {
  color: #404040;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Nunito Sans", sans-serif; }

/* ------------------------------------
 * --headers
 * ------------------------------------*/
.t-blocktitle {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-weight: 900; }

/* ------------------------------------
 * --el
 * ------------------------------------*/
button {
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer; }
  button:focus {
    outline: none; }

.tk-btn {
  border-radius: 4px;
  background-color: #d80b6d;
  color: #fff;
  padding: 12px 16px;
  transition: all .2s;
  line-height: 1; }
  .tk-btn:hover {
    background-color: #c00a61; }
  .tk-btn:active {
    background-color: #b10959; }

.tk-btn--secondary {
  background-color: #ddd;
  color: #d80b6d;
  font-weight: 700; }
  .tk-btn--secondary:hover {
    background-color: #d5d5d5; }

.tk-btn--submit,
.tk-btn--paid {
  position: relative; }
  .tk-btn--submit:after,
  .tk-btn--paid:after {
    content: "";
    display: block;
    position: absolute;
    right: 18px;
    top: 50%;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0;
    transition: all .2s; }
  .tk-btn--submit:focus, .tk-btn--submit:hover,
  .tk-btn--paid:focus,
  .tk-btn--paid:hover {
    padding-right: 38px; }
    .tk-btn--submit:focus:after, .tk-btn--submit:hover:after,
    .tk-btn--paid:focus:after,
    .tk-btn--paid:hover:after {
      opacity: 1;
      transform: translateX(4px); }

.tk-btn--submit:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024.11%2024.11%22%3E%3Ctitle%3Eicon-expand%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%201-2%22%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M10.05%200h4.01v24.11h-4.01z%22%2F%3E%3Cpath%20d%3D%22M0%2010.05h24.11v4.01H0z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

.tk-btn--paid {
  background-color: #00844f; }
  .tk-btn--paid:after {
    width: 9px;
    height: 18px;
    margin-top: -10px;
    right: 14px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2028%22%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M15.281%2018.516c0%203.187-2.281%205.703-5.594%206.25V27.5c0%20.281-.219.5-.5.5H7.078a.503.503%200%200%201-.5-.5v-2.734C2.922%2024.25.922%2022.063.844%2021.969a.518.518%200%200%201-.031-.641l1.609-2.109c.078-.109.219-.172.359-.187s.281.031.375.141c.031.016%202.219%202.109%204.984%202.109%201.531%200%203.187-.812%203.187-2.578%200-1.5-1.844-2.234-3.953-3.078-2.812-1.109-6.312-2.516-6.312-6.438%200-2.875%202.25-5.25%205.516-5.875V.501c0-.281.234-.5.5-.5h2.109c.281%200%20.5.219.5.5v2.75c3.172.359%204.859%202.078%204.922%202.141a.501.501%200%200%201%20.078.594l-1.266%202.281a.461.461%200%200%201-.359.25.52.52%200%200%201-.422-.109c-.016-.016-1.906-1.687-4.25-1.687-1.984%200-3.359.984-3.359%202.406%200%201.656%201.906%202.391%204.125%203.25%202.875%201.109%206.125%202.375%206.125%206.141z%22%2F%3E%3C%2Fsvg%3E"); }
  .tk-btn--paid:hover, .tk-btn--paid:focus {
    padding-right: 34px;
    background-color: #006b40; }
    .tk-btn--paid:hover:after, .tk-btn--paid:focus:after {
      transform: translateX(0); }
  .tk-btn--paid:active {
    background-color: #005b37; }

/* ------------------------------------
 * --moneyrate
 * ------------------------------------*/
.moneydisplay {
  font-size: 2rem;
  color: #00844f; }

.moneydisplay--small {
  font-size: 1.25rem;
  color: #00844f; }

.cents {
  display: inline-block;
  vertical-align: super;
  font-size: 0.6em;
  margin-left: 2px;
  line-height: 1.2; }

/* ------------------------------------
 * --util
 * ------------------------------------*/
.u-textcenter {
  display: inline-block;
  vertical-align: middle; }

input[type="text"],
input[type="number"] {
  display: block;
  width: 100%;
  padding: 4px; }
  input[type="text"]:focus,
  input[type="number"]:focus {
    outline: 1px solid #292929; }

html, body, #root, .app-main {
  height: 100%; }

.app-main {
  display: flex;
  overflow: hidden; }

.l-container {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

/* ------------------------------------
 * --spacing
 * ------------------------------------*/
.l-space-top {
  margin-top: 1em; }

/* ------------------------------------
 * --alignemnt
 * ------------------------------------*/
.l-align-right {
  text-align: right; }

.toggle__label {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  font-weight: 900;
  opacity: 0.2;
  transition: opacity .2s; }

.toggle__label--active {
  opacity: 1; }

.toggle__check {
  display: none; }

.toggle__switch {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  background-color: #292929;
  border-radius: 2em;
  width: 2em;
  padding: .25em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer; }
  .toggle__switch:before {
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 50%;
    height: .75em;
    transition: all .2s;
    background-color: #fff;
    border-radius: 100%; }
  input[type="checkbox"]:checked + .toggle__switch:before {
    transform: translateX(100%); }

.masthead {
  padding: 20px; }

.clientThumb {
  border-top: 1px solid #404040; }

.clientLink {
  padding: 20px;
  text-decoration: none;
  color: inherit;
  display: block;
  border-top: 4px solid transparent; }
  .clientLink:hover {
    background-color: #383838; }
  .clientLink:active {
    background-color: #333333; }

.clientLink--active {
  border-top-color: #d80b6d;
  background-color: #404040; }

.clientPane {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
  background-color: #eaeaea; }

.clientHeader {
  padding: 20px 0;
  background-color: #fff; }

.clientname {
  font-size: 2rem; }

.clientPane__main {
  padding-bottom: 100px; }

.clientPane__noclients {
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.leftpane {
  flex: 0 0 240px;
  background-color: #292929;
  color: #fff;
  height: 100%;
  overflow: auto;
  position: relative;
  z-index: 4; }

.newclient {
  text-align: center;
  margin: 20px; }

.newclient__btn {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  font-weight: 900;
  padding: 14px;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #fff;
  transition: all .2s;
  line-height: 1; }
  .newclient__btn:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin-left: 10px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024.11%2024.11%22%3E%3Ctitle%3Eicon-expand%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%201-2%22%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M10.05%200h4.01v24.11h-4.01z%22%2F%3E%3Cpath%20d%3D%22M0%2010.05h24.11v4.01H0z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: all .2s; }
  .newclient__btn:hover {
    background-color: #fff;
    color: #404040; }
    .newclient__btn:hover:after {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024.11%2024.11%22%3E%3Ctitle%3Eicon-expand%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%201-2%22%20fill%3D%22%23d80b6d%22%3E%3Cpath%20d%3D%22M10.05%200h4.01v24.11h-4.01z%22%2F%3E%3Cpath%20d%3D%22M0%2010.05h24.11v4.01H0z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

.invoices--outstanding {
  margin-bottom: 60px; }

.invoicegroup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px; }

.invoice {
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 2px 2px 6px rgba(41, 41, 41, 0.1);
  border-radius: 2px; }

.invoice__header {
  display: flex; }

.invoice__date {
  margin-right: 20px; }

.invoice__price {
  margin-left: 20px;
  margin-left: auto; }

.tasklist__trigger {
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  font-weight: 900;
  position: relative;
  padding-right: calc(12px + 6px);
  padding-top: 2px; }
  .tasklist__trigger:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024.11%2024.11%22%3E%3Ctitle%3Eicon-expand%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%201-2%22%20fill%3D%22%23d80b6d%22%3E%3Cpath%20d%3D%22M10.05%200h4.01v24.11h-4.01z%22%2F%3E%3Cpath%20d%3D%22M0%2010.05h24.11v4.01H0z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; }
  .tasklist__trigger:after {
    transition: all .4s; }

.tasklist__trigger--close:after {
  transform: rotate(45deg); }

.invoice__tasks {
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s;
  position: absolute;
  left: -9999px;
  margin-top: 10px; }

.invoice__tasks--expanded {
  visibility: visible;
  position: static;
  opacity: 1; }

.clientform__overlay {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  padding-left: 240px;
  transform: translateX(0);
  transition: all .4s;
  display: flex;
  justify-content: center;
  align-items: center; }

.clientform__overlay--visible {
  transform: translateX(100%); }

.clientform {
  margin: 0 auto;
  width: 100%;
  max-width: 920px;
  padding: 20px 60px;
  font-size: 2rem; }

.clientform__header {
  margin-bottom: 20px; }

.clientform__el {
  position: relative;
  margin-bottom: 20px; }

.clientform__input[type="text"],
.clientform__input[type="number"] {
  border: 0;
  background-color: #eaeaea;
  padding: 14px;
  font-size: inherit; }

.clientform__input--number[type="number"] {
  display: inline-block;
  width: auto; }

.clientform__actions {
  display: flex;
  justify-content: space-between; }

.clientform__beforeinput {
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  line-height: 2.5em; }
  .clientform__beforeinput + .clientform__input[type="number"] {
    padding-left: 1.5em; }

.client__opentasks {
  margin-bottom: 60px; }

.opentasks {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px; }

.task {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  position: relative; }

.task--selected {
  font-weight: 700; }

.task--key {
  border-top: 0;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  font-weight: 900; }

.task__description,
.task__hours {
  text-align: left;
  cursor: text; }

.task__description {
  flex: 1 1 auto; }

.task__hours {
  text-align: right;
  flex: 0 0 80px;
  padding-left: 20px;
  padding-right: 10px; }

.task__price {
  flex: 0 0 100px;
  text-align: right; }

.task__selector {
  position: absolute;
  left: -24px;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  display: none; }
  .task__selector input[type="checkbox"] {
    display: none; }
  .client__opentasks--interactive .task__selector {
    display: block; }

.task__selectorlabel {
  display: block;
  width: 14px;
  height: 14px;
  position: relative;
  top: 50%;
  margin-top: -9px;
  border: 1px solid #404040;
  border-radius: 50%; }
  input[type="checkbox"]:checked + .task__selectorlabel {
    background-color: #d80b6d;
    border-color: #d80b6d; }

/* ------------------------------------
 * --editable
 * ------------------------------------*/
.task .taskedit {
  display: none; }

.task .taskedit--visible {
  display: block; }

.taskform {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px; }

.taskform__header {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.taskform__fieldset {
  display: flex;
  margin-top: 1.5rem; }

.taskform__el {
  position: relative; }

.taskform__el--description {
  flex: 1 0 auto; }

.taskform__el--toggle {
  padding-left: 10px;
  padding-right: 10px;
  align-self: center; }

.taskform__el--qty {
  flex: 0 0 180px; }
  .taskform__el--qty input {
    transition: padding-left .2s; }
  .taskform__el--qty.taskform__el--byprice input {
    padding-left: 20px; }

.taskform__el--actions {
  padding-left: 10px; }

.taskform__dollarsign {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-0.5em);
  line-height: 1;
  opacity: 0;
  transition: opacity .2s;
  font-weight: 900; }
  .taskform__el--byprice .taskform__dollarsign {
    opacity: 1; }

.taskform__label {
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.1em;
  font-weight: 900;
  position: absolute;
  line-height: 1;
  left: 6px;
  top: 50%;
  height: 1em;
  transform: translateY(-50%);
  pointer-events: none;
  opacity: 0.2;
  transition: all .2s; }
  .taskform__el--byprice .taskform__label {
    left: 26px; }
  .taskform__input--hasinput ~ .taskform__label,
  input[type="text"]:focus ~ .taskform__label,
  input[type="number"]:focus ~ .taskform__label {
    top: -1.5em;
    opacity: 1;
    transform: translateY(0); }

.taskform__labelswap {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  transform: translateY(0px);
  transition: all .2s .2s; }

.taskform__labelswap--hidden {
  opacity: 0;
  transform: translateY(-5px);
  transition-delay: 0s; }

.taskform__submit {
  background-color: transparent;
  display: inline-block;
  vertical-align: middle;
  width: 44px;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024.11%2024.11%22%3E%3Ctitle%3Eicon-expand%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%201-2%22%20fill%3D%22%23d80b6d%22%3E%3Cpath%20d%3D%22M10.05%200h4.01v24.11h-4.01z%22%2F%3E%3Cpath%20d%3D%22M0%2010.05h24.11v4.01H0z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  text-indent: -9999px;
  transition: all .2s;
  border-radius: 4px;
  background-color: #ddd; }
  .taskform__submit:hover, .taskform__submit:focus {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024.11%2024.11%22%3E%3Ctitle%3Eicon-expand%3C%2Ftitle%3E%3Cg%20data-name%3D%22Layer%201-2%22%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M10.05%200h4.01v24.11h-4.01z%22%2F%3E%3Cpath%20d%3D%22M0%2010.05h24.11v4.01H0z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-color: #d80b6d; }

/*# sourceMappingURL=style.css.map */