.buttonprimary,
.buttonsecondary {
  transition: background-color 0.2s;
  border-radius: var(--border-radius-small);
  font-weight: var(--weight-semibold);
}

.buttonprimary {
  background-color: var(--c-midnight-green);
  padding: var(--space-s) var(--space-m);
  color: var(--c-white);
}
.buttonprimary:hover {
  background-color: var(--c-gunmetal);
}
.buttonprimary.hasIcon {
  padding-left: var(--space-s);
}

.buttonsecondary {
  background-color: var(--c-gray-light);
  padding: 0.6em 1em;
}
.buttonsecondary:hover {
  background-color: var(--c-beige);
}
.buttonsecondary.hasIcon {
  padding-left: 0.6em;
}

.buttonprimary.iconOnly,
.buttonsecondary.iconOnly {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
}

.buttoninline {
  transition: color 0.2s;
  color: var(--c-gray-dark);
}
.buttoninline:hover {
  color: var(--c-midnight-green);
}

.icon {
  width: 24px;
}
.icon svg {
  width: 100%;
  display: block;
}
