.buttonprimary {
  font-weight: var(--weight-semibold);
  background-color: var(--c-midnight-green);
  padding: var(--space-s) var(--space-m);
  color: var(--c-white);
  border-radius: var(--border-radius-small);
  transition: background-color 0.2s;
}
.buttonprimary:hover {
  background-color: var(--c-gunmetal);
}

.buttonsecondary {
  transition: color 0.2s;
  color: var(--c-gray-dark);
}
.buttonsecondary:hover {
  color: var(--c-midnight-green);
}

.hasIcon {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: var(--space-s);
}
.icon {
  width: 24px;
}
.icon svg {
  width: 100%;
  display: block;
}
