.buttonprimary,
.buttonsecondary {
  transition: background-color 0.2s;
  border-radius: var(--border-radius-small);
  font-weight: var(--weight-semibold);
  padding: var(--space-s) var(--space-m);
}

.buttonprimary {
  background-color: var(--c-midnight-green);
  color: var(--c-white);
}
.buttonprimary:hover {
  background-color: var(--c-gunmetal);
}

.buttonsecondary {
  background-color: var(--c-gray-light);
}
.buttonsecondary:hover {
  background-color: var(--c-beige);
}

.button_sizesmall {
  padding: var(--space-xs) var(--space-s);
}

.buttoninline {
  transition:
    color 0.2s,
    opacity 0.2s;
  font-weight: var(--weight-bold);
  color: var(--c-midnight-green);
  opacity: 0.8;
}
.buttoninline:hover {
  color: var(--c-black);
  opacity: 1;
}

.hasIcon {
  padding-left: var(--space-s);
}

.button_sizesmall.hasIcon {
  padding-left: var(--space-xs);
}

.hasIcon.iconOnly {
  padding: var(--space-xs);
}

.icon {
  width: 24px;
}
.icon svg {
  width: 100%;
  display: block;
}
