@import '../../sass/variables';

.profile {
    display: flex;
    align-items: center;
    padding-bottom: $space-md;
    border-bottom: 1px solid $c-gray-5;
    margin-bottom: $space-md;
}

.profile__headshot {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: $space-md;
    border: 2px solid $c-gray-d;
}
