@import '../../sass/variables';

$headshot-size: 60px;

.profile {
    background-color: $c-gray-2;
    box-shadow: inset 0 -5px 30px -10px $c-black;
}

.profile__user {
    display: flex;
    width: 100%;
    align-items: center;
    padding: $space-md;
    color: $c-white;

    &:focus {
        outline: none;
    }
}

.profile__headshot {
    width: $headshot-size;
    height: $headshot-size;
    flex: 0 0 $headshot-size;
    border-radius: 50%;
    overflow: hidden;
    margin-right: $space-md;
    border: 2px solid $c-gray-d;
}

.profile__meta {
    flex: 1;
}

// Util drawer
// ------

.util-drawer {
    display: none;
    padding: $space-md;

    &--active {
        display: block;
    }

    button {
        color: $c-white;
    }
}
