.form {
  position: fixed;
  left: var(--space-s);
  right: var(--space-s);
  max-width: 640px;
  bottom: 0;
  padding: var(--space-m) var(--space-m) var(--space-xl) var(--space-m);
  background-color: var(--c-white);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  z-index: 10;
}

.formTitle {
  margin-bottom: var(--space-m);
}

.formActions {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-m);
}
