@import '../../../styles/abstracts';

.invoice {
  @include bg-section($bg-color: $c--green-light, $padding: 0);
  position: relative;
  overflow: hidden;
  padding: 0;
  max-width: 620px;
}

.header {
  padding: spacing();
  color: $c--white;
  background-color: $c--green-xdark;
  box-shadow: 0 0 16px rgba($c--black, 0.6);
  display: grid;

  @include mq($bp--mobile-sm) {
    padding: spacing(2);
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
  }
}

.metadata {
  margin-top: spacing();

  @include mq($bp--mobile-sm) {
    grid-row: 1 / 3;
    margin-right: spacing();
    margin-top: 0;
  }
}

.invoiceId {
  @include mq($bp--mobile-sm, max) {
    position: absolute;
    top: spacing();
    right: spacing();
    font-weight: $fw--semibold;
  }
}

.subtotal {
  font-size: $fs--xl;
  font-weight: $fw--semibold;
}

.actions {
  margin-top: spacing();

  button {
    vertical-align: middle;

    + button {
      margin-left: spacing();
    }
  }
}

.action {
  @include box-shadow;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: $border-radius;
  background-color: rgba($c--green, 0.5);

  &:focus {
    outline: none;
  }

  svg {
    fill: $c--white;
    width: 100%;
    display: block;
  }
}

.actionInvert {
  background-color: darken($c--green-xdark, 8%);
  box-shadow: inset 1px 1px 4px rgba($c--black, 0.6);

  svg {
    fill: $c--black;
  }
}

.markPaid {
  @include transition(background-color);
  width: 100%;
  display: block;
  background-color: $c--green-dark;
  border-radius: 0;
  font-weight: $fw--semibold;
  padding: 0.5em;
  color: $c--white;

  &:hover,
  &:focus {
    outline: none;
    background-color: $c--green;
  }
}

// Tasks
// -----------

.tasks {
  padding: spacing(2);

  table {
    width: 100%;
  }

  td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 1px solid $c--gray-e;
  }

  tr:first-child td {
    border-top: 0;
  }
}

.hoursCell {
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 106px;
  text-align: right;
}

.subtotalCell {
  width: 80px;
  text-align: right;
}
