/* ==============================================================
   * --components
   ============================================================== */


/* --------------------------------------------
 * --sidebar
 * -------------------------------------------- */

.tk-sidebar .tk-header{
    padding: 20px;
}

.tk-clients ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li{
        display: block;
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid $light-gray;

        &.active{
            background-color: $light-accent;
            border-bottom-color: $light-accent;
        }
    }

    .add-new-client{
        text-align: center;
        font-size: 2em;
        font-weight: 700;
    }
}


/* --------------------------------------------
 * --client view
 * -------------------------------------------- */

.client-hours{
    padding: 1em 0;
    text-align: right;
    
    span{
        display: inline-block;
        vertical-align: middle;
    }
    .key{
        text-align: right;
    }
    .value{
        width: 4em;
    }
}

.client-tasks{

    .add-new-task{
        input + input{
            margin-left: 10px;
        }
        button{
            font-size: 2em;
        }
    }


    .task-list{
        padding-top: 1em;

        li{
            border-top: 1px solid $light-gray;
            padding: 1em 0;
        }

        .task-data{
            @include flexbox();

            .description{
                @include flex(1 0 auto);
            }
            .hours{
                text-align: right;
                @include flex(0 0 100px);
            }
        }
    }
}