/* ==============================================================
   * --components
   ============================================================== */


/* --------------------------------------------
 * --loading
 * -------------------------------------------- */

.tk-loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    @include transition(all .4s);

    .app-name{
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        padding-left: 20px;
        padding-right: 20px;
        top: 50%;
        @include transform(translateY(-50%));
    }

    .tkLoaded &{
        opacity: 0;
        visibility: hidden;
    }
}




/* --------------------------------------------
 * --header
 * -------------------------------------------- */

.tk-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1em;
    background: #fff;
    border-bottom: 1px solid $light-gray;
    line-height: 1em;

    .icon{
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -9px;
        left: 10px;
    }
}

/* --------------------------------------------
 * --sidebar
 * -------------------------------------------- */

.tk-sidebar header{
    padding: 20px;
    position: relative;

    .icon{
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -9px;
    }
}

.tk-clients ul {
    padding: 0;
    margin: 0;
    list-style: none;
    border-top: 1px solid $light-gray;

    li{
        display: block;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid $light-gray;

        &.active{
            background-color: $accent;
            color: #fff;
        }
    }

    &.clients--inactive{
        color: #999;
    }
}

.add-new-client {
    padding-top: 10px;
    padding-bottom: 10px;

    .add-new-client-form{
        height: 0;
        overflow: hidden;
        padding-left: 10px;
        padding-right: 10px;
    }

    input,
    button{
        display: block;
        width: 100%;
    }
    .trigger{
        padding: 0;
        display: block;
        text-align: center;
        font-size: 2em;
        font-weight: 700;
        line-height: 1;
        cursor: pointer;

        &[type="submit"]{
            margin-top: .5em;
        }
    }

    .cancel-new-client{
        margin-top: 1em;
        display: block;
        text-align: center;
    }

    &.newClientActive {
        .add-new-client-form{
            height: auto;
        }
    }


}


/* --------------------------------------------
 * --client view
 * -------------------------------------------- */

.client-header{
    @include flexbox();
    align-items: center;
    justify-content: center;

    .client-data{
        @include flex(0 0 auto);
        padding-right: 20px;
    }
    .actionable{
        @include flex(1 1 auto);
        text-align: right;
    }
}


.client-hours{
    padding: 1em 0;
    
    li + li{
        margin-top: 2px;
    }
    
    span{
        display: inline-block;
        vertical-align: middle;
        padding: 10px;
    }
    .value{
        width: 160px;
        background-color: $accent;
        color: #fff;
        font-weight: 700;
        font-size: 1.2em;
    }
}

.client-tasks{

    padding-top: 1em;

    .add-new-task{
        input{
            border: 1px solid $accent;
            padding: 10px;
        }
        button[type="submit"]{
            font-size: 3em;
            line-height: .5;

            &:not([disabled]):hover,
            &:not([disabled]):focus{
                background: $accent;
            }
        }

        @include break-min(520px){
            @include flexbox();

            input[name="taskName"]{
                @include flex(1 0 auto);
            }
            input[name="taskHours"]{
                @include flex(0 0 auto);
            }

            input + input{
                margin-left: 10px;
            }

            button[type="submit"]{
                @include flex(0 0 auto);
            }
        }

        @include break-max(519px){
            input,
            button{
                display: block;
                width: 100%;
            }

            input{
                margin-bottom: .5em;
            }

        }
    }


    .task-list{
        margin-top: 1em;

        .task{
            border-bottom: 1px solid $light-gray;
            padding: 1em 0;
        

            .task-data{
                @include flexbox();

                .description{
                    @include flex(1 1 auto);
                    padding-right: 10px;
                }
                .hours{
                    @include flex(0 0 80px);

                    input{
                        text-align: right;
                        font-weight: 700;
                    }
                }

                span input{
                    display: block;
                    width: 100%;
                    padding-top: 0;
                    border-bottom: 1px solid $accent;

                    &[disabled]{
                        border-color:#fff;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}