

/* --------------------------------------------
 * --type
 * -------------------------------------------- */

body, input, button{
    font-size: 1em;
    font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.app-name{
    font-size: 1em;
    font-weight: 300;
    @include uppercase();
}

// "clients"
h3{
    @include uppercase();
    font-size: .8em;
    font-weight: 700;
}

a{
    color: $accent;
    text-decoration: none;
}



/* --------------------------------------------
 * --forms
 * -------------------------------------------- */

input[type="text"],
input[type="number"]{
    padding: 10px 0;
    margin: 0;
    border: 0;
    border-bottom: 1px solid $light-gray;
}
input:focus,
button:focus{
    outline: none;
}

button{
    appearance: none;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    background-color: #fff;
    font-weight: 700;
}
button[disabled]{
    cursor: default;
    opacity: .2;
}



/* --------------------------------------------
 * --icons
 * -------------------------------------------- */

.icon svg{
    max-height: 100%;
    max-width: 100%;
}

.icon--arrow{
    width: 20px;
    height: 18px;
}

@include break-min(){
    .tk-activate-drawer{
        display: none;
    }
}