
/* --------------------------------------------
 * --variables
 * -------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

$font-stack: 'Roboto', sans-serif;



/* --------------------------------------------
 * --colors
 * -------------------------------------------- */

$light-blue: #edf9fc;
$light-gray: #f7f9f9;


/* --------------------------------------------
 * --mixins
 * -------------------------------------------- */

/**
 * --flexbox
 */
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
          -ms-flex: $values;
              flex: $values;
}