
.clientPane{
    flex: 1 1 auto;
    height: 100%;
    overflow: auto;
    background-color: $offwhite;
}
.clientHeader{
    padding: $windowgutter 0;
    background-color: $white;
}

.clientname{
    font-size: 2rem;
}

.clientrate{
    font-size: 1.5rem;
    color: $green;
}

.client__opentasks{
    background-color: $white;
    margin-bottom: 60px;
    padding-top: $windowgutter;
    padding-bottom: $windowgutter;
}
