
.invoices--outstanding{
    margin-bottom: 60px;
}

.invoices--homepage{
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
}

.invoicegroup__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: $windowgutter;
    margin-bottom: 10px;
}

.invoices--header{
    margin-top: 40px;
}

.invoice{
    margin-bottom: 10px;
    background-color: $white;
    padding: $windowgutter;
    box-shadow: 2px 2px 6px rgba($gray, .1);
    border-radius: 2px;
}

.invoice__header{
    display: flex;
}
.invoice__date{
    margin-right: 20px;
}
.invoice__price{
    margin-left: 20px;
    margin-left: auto;
}
.tasklist__trigger{
    @include uppercase;
    @include icon-right($icon_expand, 12px, 12px, 6px);
    padding-top: 2px;
    &:after{
        transition: all .4s;
    }
}
.tasklist__trigger--close:after{
    transform: rotate(45deg);
}

.invoice__tasks{
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s;
    position: absolute;
    left: -9999px;
    margin-top: 10px;
}
.invoice__tasks--expanded{
    visibility: visible;
    position: static;
    opacity: 1;
}
