
.task{
    display:flex;
    margin-top: 8px;
    padding-top: 8px;    
    border-top: 1px solid $offwhite;

    
}
.task--key{
    border-top: 0;
    @include uppercase;
}

.task__description{
    flex: 1 1 auto;
}
.task__hours{
    text-align: right;
    flex: 0 0 80px;
    padding-left: 20px;
    padding-right: 10px;
}
.task__price{
    flex: 0 0 100px;
    text-align: right;
}

