@import '../../../styles/abstracts';

.placard {
  @include placard;
  @include transition(all);
  border-top: 4px solid rgba($c-blue, .5);
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 2px 18px rgba($c-blue, 0.15);
    border-top-color: $c-blue;
  }
}
