.dateFields {
  display: grid;
  gap: var(--space-s) var(--space-m);
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.tasksLabel {
  display: block;
  padding-top: var(--space-xs);
  margin-bottom: var(--space-s);
}
