@import '../../../styles/abstracts';

.formGrid {
  @include mq(460px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    > * {
      margin: 0;
    }
  }
}

.total {
  font-size: $fs-xxl;
  font-weight: $fw-bold;
  display: block;
}

.total,
.description,
.id {
  grid-column-end: span 2;
}
