@import '../../styles/abstracts';

.client {
  position: relative;
}

.dashLink {
  display: block;
  color: $c--blue;
  margin-bottom: spacing(2);

  @include mq($bp--mobile) {
    position: absolute;
    left: 0;
    top: calc(-#{$sidebar-width / 2} - 1.5rem);
    margin-bottom: 0;
  }
}

.client__header {
  margin-bottom: spacing(2);
}

.client__name {
  @include fluid-font($fs--base * 1.5 620px, $fs--base * 4 1200px);
  font-weight: $fw--bold;
  line-height: 1;
}
