.field {
  flex: 1;
}

.invoiceOptions {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-top: var(--space-xs);
}

.invoiceOption {
  display: flex;
  align-items: center;
  gap: var(--space-s);
  cursor: pointer;
  font-size: var(--step--1);
}

.invoiceStatus {
  color: var(--c-gray-dark);
  text-transform: capitalize;
}
