// Color Variables
// ---------------

// Grays
$c--gray-5: #58595b;
$c--gray-2: #222222;
$c--gray-a: #a9a9a9;
$c--gray-e: #f6f7f8;
$c--black: #1a1a1a;
$c--white: #ffffff;

// Colors
$c--dark-blue: #141928;
$c--primary-blue: #283250;
$c--light-blue: #73c2fb;
$c--bg-blue: #f9fafd;
$c--green: #4bb543;
$c--red: #ff3a38;
$c--pink: #ba2778;
$c--purple: #912d8d;
$c--orange: #ff8f00;
$c--blue-dark: #1e3179;

// Color Shades
$c--black-light: tint($c--black, 90%);
$c--white-transparent: transparentize($c--white, 0.9);

// Applications
$c--base: $c--gray-2;
$c--text: $c--base;
$c--base-tint-5: rgba($c--base, 0.05);
$c--link: $c--red;
$c--code-bg: rgba($c--base, 0.1);
$c--highlight-tag: rgba($c--base, 0.1);

// Gadients
$gradient-colors: #262262, $c--purple, $c--red, $c--orange;
$gradient--horiz: linear-gradient(90deg, $gradient-colors);
$gradient--vert: linear-gradient($gradient-colors);

// Typography & Vertical Whitespace
// --------------------------------

// Font Size
$fs--xs: 0.72em;
$fs--sm: 0.9em;
$fs--md: 16px;
$fs--lg: 22px;
$fs--xl: 36px;
$fs--xxl: 60px;
$fs--xxxl: 75px;
$fs--xxxxl: 90px;

// Applications
$fs--base: $fs--md;
$fs--h6: $fs--sm;
$fs--h5: $fs--md;
$fs--h4: $fs--lg;
$fs--h3: $fs--xl;
$fs--h2: $fs--xl;
$fs--h1: $fs--xxxl;
$fs--input: 14px;

// Line Height
$lh--loose: 1.75;
$lh--sm: 1.65;
$lh--base: 1.55;
$lh--micro: 1.25;
$lh--h6: $lh--base;
$lh--h5: $lh--base;
$lh--h4: $lh--base;
$lh--h3: 1.3;
$lh--h2: 1.2;
$lh--h1: 1.1;
$lh--jumbo: 1;

// Letter spacing
$ls--base: 0.125em;

// Margin & Padding
$margin--base: 15px 0 0;
$margin--lg: 30px 0 0;
$margin--xl: 60px 0 0;
$margin--h6: $margin--lg;
$margin--h5: $margin--lg;
$margin--h4: $margin--lg;
$margin--h3: $margin--xl;
$margin--h2: $margin--xl;
$margin--h1: $margin--xl;

// applications
$margin--blockquote: 1em 40px;
$margin--hgroup: $margin--base;
$margin--list: $margin--base;
$font-padding--list: 0 0 0 40px;
$margin--dd: 0 0 0 40px;
$font-padding--code: 0.2em 0.4em;
$margin--code: 30px 0;
$app--padding: 20px;

// Fonts
// -----

// Font Family
$ff--sans-serif: 'Overpass', sans-serif;
$ff--sans: $ff--sans-serif;
$ff--serif: serif;
$ff--monospace: monospace;

// Shortcuts
$sans: $ff--sans;
$mono: $ff--monospace;
$serif: $ff--serif;

// Applications
$ff--base: $ff--sans;
$ff--heading: $ff--sans;

// Font Weights
$fw--normal: 400;
$fw--bold: 800;

// Widths
// ------

$text-width: 600px;
$text-width--md: $text-width * 1.5;
$text-width--lg: $text-width--md * 1.5;
$btn-size: 50px;
$dash-size: 10px;
$icon-size: 15px;

// Spacing
// -------

$spacing--xs: 0.25em;
$spacing--sm: 0.5em;
$spacing--md: 15px;
$spacing--lg: 30px;
$spacing--xl: 45px;
$spacing--xxl: 60px;
$spacing--xxxl: 120px;
$spacing--xxxxl: 150px;
$wrapper-margin: 1.75vw;

// Breakpoints
// -------

// Generic
$bp--mobile: 320px;
$bp--phablet: 400px;
$bp--tablet: 600px;
$bp--tablet-xl: 768px;
$bp--tablet-xxl: 920px;
$bp--desktop: 1070px;
$bp--desktop-xl: 1200px;
$bp--desktop-xxl: 1500px;
$bp--desktop-xxxl: 1700px;
$bp--desktop-max: 2000px;

$site-max-width: 1440px;

$bp-1: $bp--tablet;
$bp-2: $bp--tablet-xxl;
$bp-3: $bp--desktop;
$bp-4: $bp--desktop-xl;

// Timing
// -------

$timing: cubic-bezier(0.645, 0.045, 0.355, 1);
$timing--in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$timing--in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$timing--ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);

// Transitions
// --------

$transition: 0.33s $timing;

// Borders
// --------

$border-width: 3px;

$border: 1px solid $c--black-light;
$border-solid: 1px solid $c--black;
$border-white-transparent: 1px solid $c--white-transparent;
$border-thick: $border-width solid $c--black;
$border-thicker: ($border-width * 2) solid $c--black;

// Opacity
// --------

$opacity-light: 0.4;

// Sizing
// -------

$buttonSize: 44px;
