@import '../../styles/abstracts/abstracts';

.Welcome {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  padding: 80px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $c--light-blue;
  color: $c--white;
}

.promo {
  font-size: $fs--lg;
  margin-top: $spacing--md;
  margin-bottom: $spacing--lg;

  p {
    line-height: $lh--micro;
  }
}
