@import '../../styles/abstracts';

.clientWrap {
  flex: 1;
}

// headers
// -----------

.header {
  padding: $spacing;
  padding-bottom: $spacing-lg;

  @include large-screens {
    padding: $spacing-lg;
  }
}

.backToDash {
  @include uppercase();
  color: inherit;
  text-decoration: none;
}

.name {
  font-weight: $fw-bold;
  font-size: $fs-xxl;
  line-height: 1;
  margin-top: $spacing-sm;
}

// Layout
// -----------

.layout {
  @include large-screens {
    display: flex;
  }
}
.tasks {
  flex: 1;
}

.addTask {
  margin-bottom: $spacing-xl;
}
.noTasks {
  font-size: $fs-lg;
}

.aside {
  margin-top: $spacing-lg;
  border-top: 2px solid $c-gray-f8;
  padding-top: $spacing-lg;

  @include large-screens {
    min-width: 320px;
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
    border-left: 2px solid $c-gray-f8;
  }
}

.createInvoice {
  margin-top: $spacing-xl;
}

.invoiceSection {
  min-height: 220px;
}

// Invoices
// -----------

.activeInvoices {
  gap: $spacing;

  @include mq(700px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    align-items: start;
  }
}
