@import '../../styles/abstracts';

.header {
  margin-bottom: $spacing * 3;
}

.addTask {
  margin-bottom: $spacing * 2;
}

.backToDash {
  @include uppercase();
  color: inherit;
  text-decoration: none;
}

.name {
  font-weight: $fw-bold;
  font-size: $fs-xxl;
}
