@import '../../../styles/abstracts';

.backlink {
  @include transition(opacity);
  text-decoration: none;
  color: inherit;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.icon {
  @include transition();
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  margin-right: 0.5em;

  svg {
    display: block;
    width: 100%;
    fill: currentColor;
  }

  .backlink:hover & {
    transform: translateX(-2px);
  }
}
