// Colors
// -----------

$c--blue: #0066ff;
$c--blue-dark: darken($c--blue, 4%);
$c--blue-xdark: darken($c--blue-dark, 14%);

$c--blue-transparent: #f8faff;
$c--green: #00d00e;
$c--green-dark: darken($c--green, 4%);
$c--green-xdark: darken($c--green-dark, 14%);
$c--green-light: lighten($c--green, 57%);
$c--orange: #ff6e0b;
$c--red: #ff0000;
$c--red-dark: #cc0000;
$c--black: #222222;
$c--gray-4: #444444;
$c--gray-a: #ab9e9e;
$c--gray-c: #cccccc;
$c--gray-e: #e8e8e8;
$c--white: #ffffff;

// Type
// -----------

$fs--xs: 0.625rem;
$fs--sm: 0.875rem;
$fs--base: 16px;
$fs--lg: 1.25rem;
$fs--xl: 2rem;

$fw--normal: 400;
$fw--semibold: 600;
$fw--bold: 800;

$lh--base: 1.5;

$ff--sans: 'Work Sans', sans-serif;

// Spacing
// -----------

$spacing--base: 1rem;

// Layout
// -----------

$container-max: 1280px;
$sidebar-width: 80px;
$sidebar-with-padding: calc(#{$sidebar-width} + #{$spacing--base});

// Elements
// -----------

$border-radius: 4px;

$input-padding: 0.3rem;

// Transitions
// -----------

// Easings
// In ascending order of accelaration.
$in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

// Transition Durations
$t-duration: 0.2s;
$t-duration-fast: $t-duration / 2;
$t-duration-slow: $t-duration * 2;

// Breakpoints
// -----------

$bp--mobile-sm: 560px;
$bp--mobile: 660px;
$bp--tablet: 800px;
$bp--desktop: 980px;
