@import '../../sass/variables';
@import '../../sass/mixins';

.app {
    display: flex;
}

.appmain {
    flex: 1;
    padding: $space-xlg;

    .app--anonymous & {
        width: 0;
        padding: 0;
    }
}

.welcome {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    padding: $space-md;
    justify-content: center;
    align-items: center;
    color: $c-white;
}
