@import '../../sass/variables';
@import '../../sass/mixins';

.app {
    display: flex;
}

.sidebar {
    @include transition(width);
    background-color: $c-gray-3;
    width: $sidebar-width;
    color: $c-white;
    height: 100vh;
    position: relative;
    z-index: 4;
    padding: $space-md;

    .app--anonymous & {
        width: 100%;
    }
}

.appmain {
    flex: 1;
    padding: $space-lg;
}

.welcome {
    height: 100%;
    display: flex;
    padding: $space-md;
    justify-content: center;
    align-items: center;
}

.authdata {
    opacity: 0;

    .app--logged-in & {
        @include transition(opacity);
        transition-delay: 0.4s;
        opacity: 1;
    }
}
