@import '../../sass/variables';
@import '../../sass/mixins';

.app {
    display: flex;
}

.appmain {
    flex: 1;
    padding: $space-xlg;

    .app--anonymous & {
        width: 0;
        padding: 0;
    }
}
