.task {
  background-color: var(--c-white);
  border-radius: var(--border-radius);
  padding: var(--space-s);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--space-xs) var(--space-m);
  position: relative;
  overflow: hidden;
}

.taskCost {
  position: relative;
  min-width: 6ch;
}

.hoursLabel {
  display: inline-block;
  margin-right: var(--space-xs);
  font-size: var(--step--1);
}

.costInput,
.description,
.costDisplay,
.hours {
  transition: border-color 0.2s;
  padding: var(--space-xs);
  border: 1px dashed transparent;
  border-radius: var(--border-radius-small);
}

.task:hover .description,
.task:hover .taskCostHoverable .costDisplay,
.task:hover .hours,
.task:hover .costInput {
  border-color: var(--c-beige);
}

.task .description:focus,
.task .hours:focus,
.task .costInput:focus {
  border-color: var(--c-midnight-green);
  border-style: solid;
  outline: none;
}

.costDisplay {
  display: block;
  text-align: right;
}
.costInput {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  appearance: none;
  opacity: 0;
  text-align: right;
  -moz-appearance: textfield;
}
.costInput:focus {
  opacity: 1;
}
.costInput::-webkit-outer-spin-button,
.costInput::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.costUnitControl {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  align-items: center;
}

.costToggle {
  padding: 0 var(--space-xs);
}

.alertCenter {
  position: relative;
  text-align: right;
  padding: var(--space-xs);
}
.statusMessage {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.alertCenter.hasStatusMessage .actions {
  opacity: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.invoiceButton {
  min-height: 46px;
}

.deleteModal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--c-white);
  padding: var(--space-m);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deleteOptions {
  display: flex;
  gap: var(--space-m);
  margin-top: var(--space-s);
}
