@import '../../../styles/abstracts';

.button {
  @include transition;
  @include uppercase();
  padding: 0.75em 1.2em;
  background-color: $c-orange;
  display: flex;
  align-items: center;

  &:hover {
    background-color: $c-orange-hover;
  }

  div + span,
  svg + span,
  span + svg,
  span + span {
    margin-left: $spacing / 2;
  }
}

.style--green {
  background-color: $c-green;
  color: $c-white;

  &:hover {
    background-color: $c-green-hover;
  }
}

.style--warning {
  background-color: rgba(darken($c-red, 12%), 0.5);
  color: $c-white;

  &:hover {
    background-color: darken($c-red, 10%);
  }
}
