@import '../../../styles/abstracts';

.taskWrap {
  min-height: 11rem;
  padding-bottom: $spacing * 2;
}

.headline {
  font-weight: $fw-bold;
  margin-bottom: $spacing / 2;
  font-size: $fs-lg;
}

.tasklist {
  background-color: $c-white;
  border-top: 1px solid rgba($c-gray-3, 0.1);
  border-left: 1px solid rgba($c-gray-3, 0.1);
  border-right: 1px solid rgba($c-gray-3, 0.1);
}
