@import '../../../styles/abstracts';

.taskWrap {
  margin-bottom: $spacing * 2;
}

.headline {
  font-weight: $fw-bold;
  margin-bottom: $spacing / 2;
  font-size: $fs-lg;
}

.tasklist {
  background-color: $c-white;
  border-radius: $border-radius;
}

.task + .task {
  border-top: 1px solid rgba($c-gray-3, 0.1);
}
