@import '../../../styles/abstracts';

.taskWrap {
  padding-bottom: $spacing * 2;
}

.headline {
  @include uppercase;
  font-weight: $fw-bold;
  font-size: $fs-xl;
  color: rgba($c-gray-3, 0.6);
  text-align: right;
}
