@import '../../../styles/abstracts';

@mixin large-task-container {
  @media (min-width: 1000px), (min-width: 580px) and (max-width: $bp-large) {
    @content;
  }
}

.task {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid rgba($c-gray-3, 0.1);
  background-color: $c-white;
  padding: $spacing / 2 $spacing * 4 $spacing / 2 $spacing;
  position: relative;

  &:hover {
    background-color: $c-gray-fa;
  }

  @include large-task-container() {
    padding-right: $spacing / 2;
  }
}

// Inputs

.description {
  margin-bottom: $spacing / 2;
  width: 100%;

  @include large-task-container() {
    flex: 1;
    margin-bottom: 0;
  }
}

.description,
.hours {
  padding: 4px;
  border: 1px solid transparent;
  position: relative;
  left: -5px;
  background-color: $c-white;

  &:hover {
    border-color: $c-gray-e;
  }

  &:focus {
    outline: none;
    border-color: $c-orange;
  }
}

.hoursWrap {
  display: flex;
  align-items: baseline;
  flex: 1;

  input {
    margin-left: 0.5rem;
    width: 2.6rem;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
  }

  @include large-task-container() {
    flex: 0 0 4rem;
    margin-left: $spacing;
  }
}

.hoursLabel {
  font-size: $fs-sm;
}

.price {
  text-align: right;
  font-weight: $fw-bold;
  margin-left: $spacing;
}

// Actions
// -----------

.actions {
  position: absolute;
  right: $spacing / 2;
  top: $spacing / 2;
  bottom: $spacing / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include large-task-container() {
    flex: 0;
    position: static;
    margin-left: $spacing;
    flex-direction: row;
  }
}

.move,
.trash {
  @include transition();
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: $border-radius;
  &:hover {
    background-color: $c-gray-e;
  }
}

.move {
  color: $c-green;
}

.trash {
  color: $c-red;
  margin-top: $spacing / 2;

  svg {
    width: 16px;
  }

  @include large-task-container() {
    margin-top: 0;
  }
}

.deleteModal {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: $c-red;
  bottom: $spacing / 2;
  right: $spacing / 2;
  border-radius: $border-radius;
  box-shadow: 1px 1px 6px rgba($c-gray-3, 0.4);
  padding: $spacing / 2;
  font-size: $fs-sm;
  color: $c-white;

  > button {
    color: $c-white;
    margin-left: $spacing / 2;
  }
}
