@import '../../../styles/abstracts';

@mixin large-task-container {
  @media (min-width: 1000px), (min-width: 580px) and (max-width: $bp-large) {
    @content;
  }
}

.task {
  border-bottom: 1px solid rgba($c-gray-3, 0.1);
  background-color: $c-white;
  padding: $spacing / 2 $spacing;
  position: relative;

  &:focus-within,
  &:hover {
    background-color: $c-gray-fa;
  }

  input {
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
  }
}

.taskWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

// Inputs

.description {
  margin-bottom: $spacing / 2;
  width: 100%;

  @include large-task-container() {
    flex: 1;
    margin-bottom: 0;
  }
}

.description,
.hours,
.priceInput {
  padding: 4px;
  border: 1px solid transparent;
  position: relative;
  left: -5px;
  background-color: $c-white;

  &:hover {
    border-color: $c-gray-e;
  }

  &:focus {
    outline: none;
    border-color: $c-orange;
  }
}

.hours,
.priceInput {
  margin-left: 0.5rem;
  width: 2.6rem;
}

.hoursWrap {
  display: flex;
  align-items: baseline;
  flex: 1;

  @include large-task-container() {
    flex: 0 0 4rem;
    margin-left: $spacing;
  }
}

.hoursLabel {
  font-size: $fs-sm;
}

.price,
.priceDisplay {
  text-align: right;
  font-weight: $fw-bold;
  margin-left: $spacing;
}

.priceWrap {
  position: relative;
  width: 5rem;
  text-align: right;
}

.priceDisplay {
  padding: 4px;
  border: 1px solid transparent;
  position: relative;
  left: 5px;
  background-color: $c-white;
  cursor: text;

  .priceWrap:hover & {
    border-color: $c-gray-e;
  }
}

.priceInput {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 100%;
  text-align: right;
  opacity: 0;

  &:focus {
    opacity: 1;
  }
}

.priceInput::-webkit-outer-spin-button,
.priceInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.priceInput[type='number'] {
  -moz-appearance: textfield;
}
