@import '../../../styles/abstracts';

.task {
  border-bottom: 1px solid rgba($c-gray-3, 0.1);
  background-color: $c-white;
  padding: $spacing / 2 $spacing;
  position: relative;

  &:focus-within,
  &:hover {
    background-color: $c-gray-fa;
  }

  input {
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: inherit;
  }
}

.row1 {
  display: flex;
  align-items: flex-start;
}

.row2 {
  display: flex;
  align-items: flex-start;
  margin-top: $spacing;
}

.description,
.actionsWrap {
  flex: 1;
}

// Inputs

.description,
.hours,
.priceInput {
  padding: 4px;
  border: 1px solid transparent;
  background-color: $c-white;

  &:hover {
    border-color: $c-gray-e;
  }

  &:focus {
    outline: none;
    border-color: $c-orange;
  }
}

.description {
  position: relative;
  left: -5px;
  margin-right: $spacing / 2;
}

.priceWrap {
  position: relative;
}
.price {
  text-align: right;
  font-weight: $fw-bold;
  padding: 4px;
  border: 1px solid transparent;
}
.priceEditable {
  background-color: $c-white;
  cursor: text;

  .priceWrap:hover & {
    border-color: $c-gray-e;
  }
}

.priceInput {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: right;
  opacity: 0;

  &:focus {
    opacity: 1;
  }
}

.priceInput::-webkit-outer-spin-button,
.priceInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.priceInput[type='number'] {
  -moz-appearance: textfield;
}

.hoursWrap {
  display: flex;
  align-items: baseline;
  margin-right: $spacing;
}

.hoursLabel {
  font-size: $fs-sm;
}
.hours {
  max-width: 3rem;
}
