@import '../../../../styles/abstracts';

.project {
  display: flex;
  align-items: center;
}

.pill {
  display: inline-block;
  background-color: #eee;
  padding: 0.5em;
  margin-right: $spacing / 2;
}
