@import '../../../styles/abstracts';

.inline {
  display: flex;
  align-items: center;
}

.label {
  @include uppercase(10px);
  display: block;
  margin-top: 0.5em;

  .inline & {
    margin-top: 0;
    margin-left: 0.25rem;
  }
}

.svg {
  display: block;
  fill: currentColor;
  width: 22px;
}
