@import '../../styles/abstracts/abstracts';

.TaskUtility {
  position: absolute;
  transform: translate3d(-50%, -104%, 0);
  box-shadow: 0 0 8px rgba($c--black, 0.33);
  border-radius: 4px;
  width: 132px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity $transition, visibility $transition, transform $transition, width $transition;

  &.active {
    transform: translate3d(-50%, -108%, 0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &.wide {
    width: 176px;
  }

  li {
    display: inline-block;
  }

  button {
    @include utility-button;

    &.complete:hover {
      background-color: $c--green;
    }
    &.edit:hover {
      background-color: $c--light-blue;
    }
    &.delete:hover {
      background-color: $c--red;
    }
    &.dont-delete:hover,
    &.confirm-delete:hover {
      background-color: darken($c--red, 14%);
    }

    &:hover svg {
      fill: $c--white;
    }
  }

  .confirm-delete-modal {
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $c--red;
    color: $c--white;
    font-size: 0.8rem;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    span {
      display: inline-block;
      padding: 0.5em;
      opacity: 0;
      transition: opacity 0.2s 0.2s;
    }

    &.active span {
      opacity: 1;
    }

    svg {
      fill: $c--white;
    }

    .confirm-delete {
      background-color: transparent;
      flex: 0 0 $buttonSize;
    }

    .dont-delete {
      background-color: transparent;
      flex: 0 0 $buttonSize;
    }
  }
}
