.rateRow {
  align-items: center;
}

.valueField {
  flex: 1;
}

.fixedValueInput {
  display: flex;
  position: relative;
}
.fixedValueInput:before {
  content: '$';
  font-weight: var(--weight-semibold);
  color: var(--c-gray-dark);
  opacity: 0.6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--space-s);
  display: flex;
  align-items: center;
}
.fixedValueInput input {
  padding-left: calc(var(--space-s) * 1.8);
}
