.rateRow {
  align-items: center;
}

.rateToggle {
  display: flex;
}
.hourlyLabel,
.fixedLabel {
  transition: color 0.2s;
  font-weight: var(--weight-semibold);
  color: var(--c-beige);
}

.rateCheckbox:not(:checked) ~ .hourlyLabel,
.rateCheckbox:checked ~ .fixedLabel {
  color: var(--text-color);
}
.rateCheckbox:focus ~ .toggleIndicator {
  outline: 1px solid blue;
}

.toggleIndicator {
  color: var(--c-gunmetal);
  background-color: currentColor;
  border: 4px solid currentColor;
  border-radius: 1.2rem;
  box-sizing: initial;
  cursor: pointer;
  display: block;
  height: 0.6rem;
  margin: 0 0.5rem;
  position: relative;
  width: 1.2rem;
}

.toggleIndicator::before {
  background-color: var(--c-beige);
  border-radius: 50%;
  content: '';
  display: block;
  height: 0.6rem;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  width: 0.6rem;
}

.rateCheckbox:checked ~ .toggleIndicator::before {
  transform: translateX(0.6rem);
}

.valueField {
  flex: 1;
}

.fixedValueInput {
  display: flex;
  position: relative;
}
.fixedValueInput:before {
  content: '$';
  font-weight: var(--weight-semibold);
  color: var(--c-gray-dark);
  opacity: 0.6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--space-s);
  display: flex;
  align-items: center;
}
.fixedValueInput input {
  padding-left: calc(var(--space-s) * 1.8);
}
