@import '../../../styles/vars/_index';
@import '../../../styles/mixins/_index';

.section {
  position: relative;
  padding-left: 2rem;
}

.headline {
  @include uppercase();
  font-size: 1rem;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 1rem;
  transform-origin: 0 0;
  transform: rotate(-90deg) translate(-100%, -100%);
  font-weight: $fw-bold;
  color: $c-blue;
}
