@import '../../../styles/vars/_index';
@import '../../../styles/mixins/_index';

.section {
  position: relative;
  padding-left: $fs-xl;
}

.headline {
  @include uppercase;
  font-size: $fs-xl;
  line-height: 1;
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(-90deg) translate(-100%, -100%);
  padding-bottom: 0.5em;
  font-weight: $fw-bold;
  color: rgba($c-gray-3, 0.1);
}
