.list {
  border-top: 1px solid var(--c-beige);
}
.item {
  border-bottom: 1px solid var(--c-beige);
}

.link {
  transition: background-color 0.2s;
  padding: var(--space-m) 0;
  display: block;
}
.link:hover {
  background-color: var(--c-beige-transparent);
}

.inner {
  transition: transform 0.2s;
  width: calc(100% - 6px);
}

.link:hover .inner {
  transform: translate3d(6px, 0, 0);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.name {
  font-size: var(--step-2);
}
