.form {
  padding: var(--space-m);
  border: 1px solid var(--c-beige);
  border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 0.6);
}

.formHeader {
  align-items: center;
  justify-content: space-between;
}

.invoiceCost {
  font-size: var(--step-3);
}

.invoiceGrid {
  display: grid;
  gap: var(--space-s);
}

@media screen and (min-width: 580px) {
  .invoiceGrid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-m);
  }
}
