.invoiceCost {
  font-size: var(--step-3);
}

.invoiceGrid {
  display: grid;
  gap: var(--space-s);
}

@media screen and (min-width: 580px) {
  .invoiceGrid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-m);
  }
}
