.app-loading {
  @include uppercase;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: $c--light-blue;
  display: flex;
  align-items: center;
  justify-content: center;
}
