@import '../../../styles/mixins/_index';
@import '../../../styles/vars/_index';

$avatar-size: 56px;

.header {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: $spacing;
  align-items: center;
  position: relative;

  @include large-screens {
    box-sizing: content-box;
    background-color: $c-blue;
    width: $avatar-size;
  }
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: $avatar-size;
  height: $avatar-size;
  border: 1px solid $c-white;
  position: relative;
  z-index: 11;

  @include large-screens {
    position: fixed;
    top: $spacing;
    left: $spacing;
  }

  img {
    width: 100%;
    display: block;
  }
}

.appname {
  font-weight: $fw-bold;
  font-size: $fs-lg;

  @include large-screens {
    transform: rotate(-90deg) translate(0, 100%);
    transform-origin: left;
    color: $c-white;
    position: fixed;
    bottom: $spacing;
    left: $spacing;
  }
}

// Utility
// -----------

.utility {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $c-gray-3;
  padding: $spacing;
  color: $c-white;
  z-index: 10;
  padding-top: calc(#{$avatar-size} + #{$spacing-lg});
}

.userMeta {
  margin-bottom: $spacing;
}
