@import '../../../styles/mixins/_index';
@import '../../../styles/vars/_index';

.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-between;
  top: 0;
  right: 0;
  padding: $spacing * 0.5;
  align-items: center;
  width: calc(#{$avatar-size} + #{$spacing});
  z-index: 3;

  @include large-screens {
    background-color: $c-blue;
    bottom: 0;
    left: 0;
    right: auto;
  }
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: $avatar-size;
  height: $avatar-size;

  img {
    width: 100%;
    display: block;
  }
}

.appname {
  display: none;
  color: $c-white;
  font-weight: $fw-bold;
  font-size: $fs-lg;
  transform: translate(0, -200%) rotate(-90deg);

  @include large-screens {
    display: block;
  }
}

// Utility
// -----------

.utility {
  position: fixed;
  top: $spacing;
  right: calc(#{$avatar-size} + #{$spacing * 2});
  background-color: $c-gray-3;
  padding: $spacing;
  color: $c-white;

  @include large-screens {
    left: calc(#{$avatar-size} + #{$spacing * 3});
    right: auto;
  }
}

.userMeta {
  margin-bottom: $spacing;
}
