.mainLayout {
  min-height: 100svh;
}

.aside {
  flex: 0 0 calc(280px + 2vw);
}

.main {
  flex: 1;
  padding: 0 var(--space-m) calc(var(--space-m) * 2 + 48px) var(--space-m);
}

@media screen and (min-width: 862px) {
  .mainLayout {
    display: flex;
  }

  .main {
    flex: 1;
    padding-top: calc(var(--space-m) * 2 + 48px);
  }
}
