@import '../../styles/abstracts';

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
}

.logo {
  padding: spacing();
  width: $sidebar-width;
  height: $sidebar-width;
  display: block;
  padding: 10px;

  svg {
    display: block;
    width: 100%;
  }
}

.name {
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: left top;
  width: 100vh;
  padding: spacing() $sidebar-with-padding spacing() spacing();
  transform: rotate(-90deg) translate(-100%, -50%);
  text-align: right;
  font-size: $fs--lg;
  font-weight: $fw--bold;
  letter-spacing: 4px;
  color: $c--gray-a;
  opacity: 0.2;
  text-transform: uppercase;
}

.user__wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
}
