@import '../../styles/abstracts';

.header {
  position: relative;
  @include mq($bp--mobile) {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
  }
}

.logo {
  display: inline-block;
  vertical-align: middle;
  padding: spacing();
  width: $sidebar-width;

  @include mq($bp--mobile) {
    height: $sidebar-width;
  }

  svg {
    display: block;
    width: 100%;
  }
}

.name {
  vertical-align: middle;
  @include uppercase;
  font-weight: $fw--bold;
  letter-spacing: 4px;
  color: $c--gray-a;

  @include mq($bp--mobile) {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vh;
    opacity: 0.2;
    font-size: $fs--lg;
    text-align: right;
    transform-origin: left top;
    padding: spacing() $sidebar-with-padding spacing() spacing();
    transform: rotate(-90deg) translate(-100%, -50%);
  }
}

.user__wrapper {
  position: absolute;
  top: 0;
  right: 0;

  @include mq($bp--mobile) {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
  }
}
