.invoiceList {
  margin-bottom: var(--space-m);
  max-width: var(--max-component-width);
}

.year {
  margin-top: var(--space-s);
}
.yearLabel {
  margin-bottom: var(--space-xs);
}

.invoice {
  display: flex;
  gap: var(--space-s);
  padding: var(--space-xs) 0;
  border-top: 1px solid var(--c-gray-light);
}
