@import '../../styles/abstracts/abstracts';

$dotSize: 12px;
$trackBorder: 3px;
$trackHeight: $dotSize + ($trackBorder * 2);
$trackWidth: $trackHeight * 1.8;
$dotMove: $trackWidth - ($dotSize + $trackBorder + $trackBorder);

.Toggler {
  display: flex;
  align-items: center;

  .control {
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0;
  }

  .track {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background-color: $c--dark-blue;
    border-radius: 2em;
    height: $trackHeight;
    width: $trackWidth;
    margin-left: $spacing--sm;
    margin-right: $spacing--sm;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: $trackBorder;
      width: $dotSize;
      height: $dotSize;
      margin-top: -$dotSize / 2;
      transition: all $transition;
      background-color: $c--white;
      border-radius: 100%;
    }
  }

  .control:focus + .track:before {
    background-color: $c--light-blue;
  }

  .control:checked + .track:before {
    transform: translateX($dotMove);
  }

  .label {
    transition: opacity $transition;

    &:focus {
      outline: 0;
    }

    &--disabled {
      opacity: 0.2;
    }
  }
}
