@import '../../styles/abstracts/abstracts';

.TaskForm {
  @include placard;
  background-color: $c--gray-fe;
}

.formRow {
  margin-top: $spacing--md;

  @include mq($bp--tablet-xxl) {
    display: flex;
    align-items: center;
  }
}

.formEl {
  flex: 1;

  input {
    width: 100%;
    display: block;
  }

  @include mq('max', $bp--tablet-xxl) {
    margin-top: 0.5em;
  }
}

.formElNumber {
  @include mq($bp--tablet-xxl) {
    flex: 0 0 100px;
    width: 100px;
    order: 2;
  }
}

.toggler {
  margin-top: 1em;

  @include mq($bp--tablet-xxl) {
    order: 1;
    margin: 1.55rem 1em 0 1em;
    flex: 0;
  }
}

.actionPrimary {
  width: 100%;
  margin-top: $spacing--lg;

  button {
    width: 100%;
    display: block;
  }
}
