@import '../../styles/abstracts/abstracts';

.TaskForm {
  margin-top: $spacing--lg;
  margin-bottom: $spacing--lg;

  form {
    display: flex;

    @include mq('max', $bp--tablet-xxl) {
      flex-wrap: wrap;
    }

    input[type='text'] {
      flex: 1;
    }
    input[type='number'] {
      width: 120px;
    }

    .Toggler {
      margin-left: 1em;
      margin-right: 1em;
    }

    .action-primary {
      margin-left: 1em;
      white-space: nowrap;

      @include mq('max', $bp--tablet-xxl) {
        margin-left: 0;
        width: 100%;
        flex: 0 0 100%;
        margin-top: $spacing--md;
      }
    }
  }
}
