@import '../../styles/mixins/_index';

.screen {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  @include block();
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer {
  @include block();
}

.title {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.loginButton {
  margin-top: auto;
}
