
$textcolor: #404040;


//
// - base
//
$white: #fff;

//
// - 
//
$offwhite: #eaeaea;
$offwhite_border: #ddd;

//
// - leftrail bg
//
$gray: #292929;
$gray_border: #404040;


//
// - green accents
//
$green: rgb(0, 132, 79);


