.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--space-m);
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-s);
  position: relative;
}

.avatarFigure {
  width: 48px;
  height: 48px;
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 2px solid var(--bg-accent-border);
  position: relative;
}

.avatarFigure img {
  width: 100%;
  display: block;
}

.avatarPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--weight-bold);
  color: var(--bg);
  background-color: var(--c-gray-dark);
  height: 100%;
  width: 100%;
}

.mobileMenuToggle {
  transition: transform 0.2s;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobileMenuToggle svg {
  width: 32px;
}

.mobileMenuToggle:hover {
  background-color: var(--c-gray-light);
  border-radius: var(--border-radius-small);
}

.sidebarNav {
  flex: 1;
  background-color: var(--bg-accent);
  border-radius: var(--border-radius);
  padding: var(--space-m);
}
.clientList {
  margin-top: var(--space-s);
}
.clientItem {
  padding: 1em 0;
  border-top: 1px solid var(--c-beige);
}

@media screen and (max-width: 861px) {
  .sidebarNav {
    position: fixed;
    left: -280px;
    top: calc(var(--space-m) * 2 + 48px);
    bottom: var(--space-m);
    width: 280px;
    background-color: var(--bg-accent);
    border-radius: var(--border-radius);
    transition: transform 0.2s;
  }

  .sideMenuOpen .sidebarNav {
    transform: translate3d(calc(100% + var(--space-m)), 0, 0);
  }
  .sideMenuOpen .mobileMenuToggle {
    transform: scale(-1);
  }
}

@media screen and (min-width: 862px) {
  .header {
    margin-bottom: var(--space-m);
  }
  .mobileMenuToggle {
    display: none;
  }
}
