@import '../../styles/abstracts';

.welcome {
  font-size: $fs--xl;
  font-weight: $fw--bold;
}

.dashboard {
  margin-top: spacing(2);

  @include mq($bp--desktop) {
    margin-top: spacing(4);
    display: flex;
  }
}

// Client list column
// -----------

.list {
  min-width: 260px;
}

.clients__header {
  display: flex;
  align-items: center;
}

.clients__label {
  flex: 1;
}

// Activity column
// -----------

.activity {
  flex: 1;
  margin-top: spacing(4);

  @include mq($bp--desktop) {
    margin-left: spacing(6);
    margin-top: 0;
  }

  > div + div {
    margin-top: spacing(4);
  }

  strong {
    font-weight: $fw--semibold;
  }
}
