.invoiceGroup {
  margin-top: var(--space-s);
}

.invoiceGrid {
  display: grid;
  gap: var(--space-m);
  margin-top: var(--space-s);
}

@media screen and (min-width: 400px) {
  .invoiceGrid {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}
