@import '../../styles/abstracts';

.welcome {
  padding: spacing(2);
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  @include mq($bp--mobile) {
    padding: spacing(6);
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    background-color: $c--orange;
    opacity: 0.2;
    z-index: -1;
  }

  &:before {
    left: 0;
    top: 50vh;
    width: 200vw;
    height: 80vh;
    transform: rotate(45deg);
    transform-origin: top left;
  }

  &:after {
    right: 0;
    top: -20vh;
    display: block;
    width: 300vw;
    height: 100vh;
    transform: rotate(-45deg);
    transform-origin: top right;

    @include mq($bp--desktop) {
      top: -33vh;
    }
  }
}

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 80px;

  svg {
    width: 100%;
    display: block;
  }
}

.name {
  @include uppercase;
  display: inline-block;
  vertical-align: middle;
  font-weight: $fw--bold;
  letter-spacing: 4px;
  color: $c--gray-a;
  margin-left: spacing();
}

.intro {
  @include fluid-font($fs--base * 1.5 620px, $fs--base * 4 1200px);
  font-weight: $fw--semibold;
  margin-top: 4vh;
  margin-bottom: 2vh;
}
