
$windowgutter: 20px;

html, body, #root, .app-main{
    height: 100%;
}

.app-main{
    display:flex;
    overflow:hidden;
}

.leftpane{
    flex: 0 0 200px;
    background-color: $gray;
    color: $white;
    height: 100%;
    overflow: auto;
}


.l-container{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding-left: $windowgutter;
    padding-right: $windowgutter;
}
