
$windowgutter: 20px;

html, body, #root, .app-main{
    height: 100%;
}

.app-main{
    display:flex;
    overflow:hidden;
}


.l-container{
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding-left: $windowgutter;
    padding-right: $windowgutter;
}


/* ------------------------------------
 * --spacing
 * ------------------------------------*/

.l-space-top{
    margin-top: 1em;
}


/* ------------------------------------
 * --alignemnt
 * ------------------------------------*/


.l-align-right{
    text-align: right;
}
