.headline {
  margin-bottom: var(--space-l);
}

.main {
  margin-top: var(--space-xl);
  display: grid;
  gap: var(--space-xl);
}

.clientList {
  max-width: 600px;
}

@media screen and (min-width: 862px) {
  .dashboard {
    padding-top: calc(48px + var(--space-m));
  }

  .main {
    grid-template-columns: 1fr auto;
    max-width: 1320px;
  }

  .stats {
    padding-right: var(--space-l);
  }
}
