@import '../../../styles/mixins/_index';
@import '../../../styles/vars/_index';

.clientlist {
  margin-top: $spacing-lg;
}

.headline {
  @include headline(false);
}

.inactiveClients {
  margin-top: $spacing-xl;
}

.clientItem + .clientItem {
  margin-top: $spacing-lg;
}

.rate {
  display: block;
  margin-bottom: 0.5em;
  font-size: $fs-sm;
  grid-row: 2;
  grid-column: 1;
}
.clientName {
  display: block;
  font-weight: $fw-bold;
  letter-spacing: 0.03em;
  font-size: $fs-lg;
}

.activeClient {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.taskCount {
  grid-row: 1 / span 3;
  grid-column: 2;
}
