@import '../../../styles/mixins/_index';
@import '../../../styles/vars/_index';

.clientlist {
  margin-top: $spacing-lg;
}

.clientItem + .clientItem {
  margin-top: $spacing-lg;
}

.rate {
  display: block;
  margin-bottom: 0.5em;
  font-size: $fs-sm;
}
.clientName {
  display: block;
  font-weight: $fw-bold;
  letter-spacing: 0.03em;
  font-size: $fs-lg;
}
