@import '../../styles/abstracts';

.form {
  // @include bg-section($c--green-xdark);
  @include bg-section($c--gray-4);
  color: $c--white;
  position: relative;

  input {
    display: block;
    width: 100%;
    background-color: rgba($c--white, 0.96);

    &:focus {
      background-color: $c--white;
    }
  }

  @include mq($bp--tablet, max) {
    padding-top: spacing(1.5);
  }
}

.formWrapper {
  padding-top: spacing();

  // @include mq($bp--mobile-sm) {
  display: flex;
  align-items: center;
  // }

  @include mq($bp--tablet, max) {
    flex-wrap: wrap;

    .toggler {
      margin-left: 0;
    }
  }
}

.description {
  flex: 1;
  max-width: 680px;

  @include mq($bp--tablet, max) {
    width: 100%;
    max-width: none;
    flex-basis: 100%;
    margin-bottom: spacing();
  }
}

.toggler {
  @include mq($bp--tablet) {
    margin-left: spacing();
  }

  @include mq($bp--tablet, max) {
    padding-top: spacing(1.5);
    margin-bottom: spacing();
  }
  @include mq($bp--mobile-sm, max) {
    width: 100%;
    padding-top: spacing();
    flex-basis: 100%;
  }
}

.unit {
  flex: 0 0 100px;
  width: 100px;

  @include mq($bp--tablet, max) {
    flex: 1;
    margin-left: 0;
    margin-top: spacing(1.5);
  }

  @include mq($bp--mobile-sm) {
    margin-left: spacing();
  }
}

.actions {
  margin-left: spacing();
  @include mq($bp--tablet, max) {
    margin-top: spacing(1.5);
  }
}

.close {
  position: absolute;
  width: 48px;
  top: -36px;
  right: 0;
  // background-color: $c--green-xdark;
  background-color: $c--gray-4;
  border-radius: $border-radius;
  padding: 8px;

  &:focus {
    outline: none;
    svg {
      stroke: $c--gray-c;
    }
  }

  svg {
    display: block;
    width: 100%;
    stroke: $c--white;
  }
}
