@import '../../../styles/abstracts';

.label {
  line-height: 1;
  display: block;
  font-size: $fs--sm;
  font-weight: $fw--semibold;
  margin-bottom: 0.5em;
}

.absoluteLabel {
  position: relative;

  .label {
    position: absolute;
    left: 0;
    top: -1.5em;
  }
}
