.section + .section {
  margin-top: var(--space-m);
  padding-top: var(--space-m);
  border-top: 2px solid var(--c-gray-light);
}

.totals {
  display: flex;
  gap: var(--space-xs);
  align-items: center;
}

.statList {
  display: grid;
  gap: var(--space-xs);
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-top: var(--space-xs);
}

.totalLabel {
  align-self: flex-end;
}

.placeholder span {
  width: 10ch;
  background-color: var(--c-beige-transparent);
  display: inline-block;
  color: transparent;
}
