.invoice {
  display: grid;
  gap: var(--space-s) var(--space-m);
  grid-template-columns: 1fr auto;
  padding: var(--space-m);
  border-radius: var(--border-radius-small);
  background-color: var(--c-lighter-green);
  border: 1px solid transparent;
}

.invoicePending {
  border-color: var(--c-lighter-green);
  background-color: var(--c-gray-light);
}

.total {
  font-size: var(--step-1);
  text-align: right;
  display: block;
  margin-bottom: var(--space-xs);
}

.expand {
  justify-self: flex-end;
}

.action {
  display: flex;
  gap: var(--space-xs);
  grid-column: span 2;
}

.actionToIssue {
  align-items: center;
  justify-content: space-between;
}

.collapser {
  transition: transform 0.2s;
}
.flipCollapser {
  transform: scale(-1);
}

.payButton {
  flex: 1;
}

.details {
  grid-column: 1 / span 2;
}

.description {
  margin: 0.25em 0 var(--space-s);
}
.taskList {
  margin-top: 0.25em;
}
.taskItem {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid var(--c-midnight-green-transparent);
  display: grid;
  grid-template-columns: 1fr 6ch 6ch;
  gap: var(--space-s);
}

.taskDescription {
  flex: 1;
}
.taskCost {
  text-align: right;
}

.paidDateInput {
  position: relative;
  padding-top: calc(var(--step-1));
}

.paidDateLabel {
  position: absolute;
  left: 0;
  top: 0;
}

.paidButtons {
  flex: 1;
  display: flex;
  padding-top: calc(var(--step-1));
}

.cancelPaid {
  padding-right: 0;
}
