@mixin transition($property: all, $duration: $t-duration, $delay: 0s, $func: $in-out-quad) {
  $transitions: null;
  @if type-of($property) != list {
    $property: ($property);
  }

  @each $specifiedProperty in $property {
    $transitions: append($transitions, $specifiedProperty $duration $delay $func, comma);
  }

  transition: $transitions;
}
