.dashboardIcon {
  width: 14px;
  transition: transform 0.2s;
}

.dashboardLink:hover .dashboardIcon {
  transform: translate3d(-2px, 0, 0);
}

.dashboardIcon svg {
  display: block;
  width: 100%;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-m);
  margin-bottom: var(--space-m);
}

.clientPageGrid {
  display: grid;
  gap: var(--space-xl);
}

.paidInvoices {
  padding-top: var(--space-s);
  border-top: 8px solid var(--c-midnight-green-transparent);
}

.actions {
  display: flex;
  gap: var(--space-s);
  flex-wrap: wrap;
}

@media screen and (min-width: 862px) {
  .clientPageGrid {
    padding-right: var(--space-l);
  }

  .breadcrumbs {
    height: 48px;
    justify-content: flex-start;
  }

  .invoiceForm {
    max-width: 860px;
  }

  .taskList {
    max-width: var(--max-component-width);
  }
}

@media screen and (min-width: 1460px) {
  .clientPageGrid {
    grid-template-columns: 3fr 2fr;
    padding-right: var(--space-xl);
  }

  .invoiceList {
    grid-column: span 2;
  }
}
