.dashboardIcon {
  width: 14px;
}

.dashboardIcon svg {
  display: block;
  width: 100%;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-m);
  margin-bottom: var(--space-m);
}

.main {
  margin-top: var(--space-l);
}

.taskList {
  margin-top: var(--space-l);
  max-width: 600px;
}

@media screen and (min-width: 862px) {
  .breadcrumbs {
    height: 48px;
    justify-content: flex-start;
  }
}
