.dashboardIcon {
  width: 14px;
  transition: transform 0.2s;
}

.dashboardLink:hover .dashboardIcon {
  transform: translate3d(-2px, 0, 0);
}

.dashboardIcon svg {
  display: block;
  width: 100%;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-m);
  margin-bottom: var(--space-m);
}

.main {
  margin-top: var(--space-l);
}

.actions {
  display: flex;
  gap: var(--space-s);
  flex-wrap: wrap;
}

.invoiceForm,
.taskList {
  margin-top: var(--space-l);
  max-width: 600px;
}

@media screen and (min-width: 862px) {
  .breadcrumbs {
    height: 48px;
    justify-content: flex-start;
  }
}
