@import '../../sass/variables';

.client-admin {
    flex: 1;
    overflow: auto;
}

.client-link {
    display: block;
    position: relative;
    color: $c-white;
    text-decoration: none;
    padding: $space-md;
    margin-bottom: -1px;
    border-bottom: 1px solid $c-gray-4;

    &:hover {
        background-color: $c-gray-4;
    }

    &::before {
        content: '';
        border-top: 4px solid $c-gray-6;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: none;
    }

    &--active {
        background-color: $c-gray-5;
        border-bottom-color: $c-gray-5;

        &::before {
            display: block;
        }
    }
}

.client-list__footer {
    padding: $space-md;
}
