@import '../../styles/abstracts';

.clientlist {
  @include mq($bp--mobile, max) {
    margin-left: spacing(2);
  }
}

.client {
  margin-top: spacing(0.5);
}

.client__link {
  position: relative;
  text-decoration: none;
  display: block;
  padding-top: spacing();
  padding-bottom: spacing();

  .clientHasActivity &:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    left: spacing(-1);
    left: calc(#{spacing(-1)} - 5px);
    background-color: $c--blue;
    border-radius: 50%;
  }

  span {
    @include transition;
    color: $c--black;
    display: block;
    font-size: $fs--xl;
    font-weight: $fw--semibold;
    transform: translateX(0);
    line-height: 1.2;
  }

  &:hover span {
    color: $c--blue;
    transform: translateX(4px);
  }
}

.taskStatus {
  margin-top: spacing(-1);
  span + span {
    margin-left: spacing(0.5);

    &:before {
      content: '/';
      display: inline-block;
      margin-right: spacing(0.5);
      color: $c--gray-c;
    }
  }
}

.activeInvoices {
  font-weight: $fw--semibold;
  color: $c--green;
}
