@import '../../sass/variables';
@import '../../sass/mixins';

.overview-link,
.client-link {
    display: block;
    position: relative;
    color: $c-white;
    text-decoration: none;
    padding: $space-md;

    &:hover {
        background-color: lighten($c-gray-3, 4%);
    }

    &:active {
        background-color: darken($c-gray-3, 2%);
    }

    &--active {
        background-color: $c-gray-5;
        border-bottom-color: $c-gray-5;
    }
}

.overview-link {
    margin-bottom: $space-md;
}

.client-list__header {
    @include uppercase;
    padding: $space-md;
    color: $c-gray-9;
}

.client-link {
    margin-bottom: -1px;
    border-bottom: 1px solid $c-gray-4;
}

.client-admin {
    flex: 1;
    overflow: auto;
}

.client-list__footer {
    padding: $space-md;
}
