input[type='text'],
input[type='number'],
input[type='date'],
textarea {
  font-family: $ff--sans;
  padding: $spacing--sm;
  font-size: $fs--input;
  border: 0;
  border-bottom: 1px solid $c--gray-a;
  background-color: $c--gray-fe;
  height: 38px;

  &:focus {
    outline: none;
    border-color: $c--light-blue;
    border-bottom-width: 2px;
  }
}
