$sidebar-width: 240px;

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  background-color: $c--gray-fe;
  height: 100vh;
  overflow: auto;
  transition: all $transition;
  z-index: 10;

  @include mq('max', $bp--tablet-xl) {
    left: -$sidebar-width;
    box-shadow: -8px 0px 60px rgba(0, 0, 0, 0.2);
    .layout--sidebar-visible & {
      transform: translateX($sidebar-width);
    }
  }
}

.main {
  padding: 80px 8vw 8vw 8vw;

  @include mq($bp--tablet-xl) {
    margin-left: $sidebar-width;
  }
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
