@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,800&display=swap');

html,
body,
textarea,
input {
  font-size: $fs--base;
  font-family: $ff--sans;
  line-height: $lh--base;
}

button {
  appearance: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font: inherit;
  text-align: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0;
}

.button {
  @include transition(background-color);
  padding: 0.5em 1em;
  border-radius: $border-radius;
  background-color: $c--blue;
  color: $c--white;

  &:hover {
    background-color: $c--blue-dark;
  }
}

// Emoji
// -----------

.emoji {
  font-size: $fs--xl;
}

// Stack
// -----------

.stack > * + * {
  margin-top: 1em;
}
