@import '../../styles/abstracts/abstracts';

.TaskList {
  .row {
    display: flex;
    transition: background-color $transition;

    &.header {
      @include uppercase;
      border-bottom: 1px solid $c--light-blue;
    }

    &:not(.header):hover {
      background-color: $c--gray-e;
    }
  }

  .cell {
    padding: $spacing--xs;
  }

  .description {
    flex: 1 1 auto;
  }
  .hours,
  .price {
    flex: 0 0 auto;
    padding-left: 1em;
    text-align: right;
  }
  .hours {
    flex-basis: 80px;
  }
  .price {
    flex-basis: 100px;
  }
}
