@import '../../styles/abstracts/abstracts';

.footer {
  border-top: 2px solid $c--lighter-blue;
  display: flex;
  justify-content: flex-end;
  transition: padding-right $transition;
  font-weight: $fw--bold;
}

.footerCanInvoice {
  padding-right: 48px;
}

.footerHours,
.footerPrice {
  padding: $spacing--xs;
  flex: 0 0 auto;
  padding-left: 1em;
  padding-right: 0.5em;
  text-align: right;
}

.footerHours {
  flex-basis: 80px;
}
.footerPrice {
  flex-basis: 100px;
}

.actions {
  margin-top: $spacing--md;
  text-align: right;
}
