@import '../../styles/abstracts/abstracts';

.TaskList {
  padding: $spacing--md;
  background-color: $c--gray-e;
  margin-bottom: $spacing--lg;

  .footer {
    border-top: 2px solid $c--gray-2;
    display: flex;
    justify-content: flex-end;

    .hours,
    .price {
      padding: $spacing--xs;
      flex: 0 0 auto;
      padding-left: 1em;
      text-align: right;
    }

    .hours {
      flex-basis: 80px;
    }
    .price {
      flex-basis: 100px;
    }
  }

  .actions {
    margin-top: $spacing--md;
    text-align: right;

    .action-cancel {
      margin-right: 1em;
      opacity: 0;
      transition: opacity $transition;

      &.active {
        opacity: 1;
      }
    }
  }
}
